[2015-02-21 14:46] amiller opened #1 "Broken link to https://ipfs.io/about"
Nav at the bottom. Looks like:
IPFS
About
Install
Docs
Code
Community

Click the "About", goes to: http://ipfs.io/about
Looked at the source to try make a PR but it confused me!

[2015-02-21 22:59] jbenet commented on #1
@amiller ahhh thank you! sorry, it's an ugly static dump of a [metalsmith](https://metalsmith.io) markdown/template generated thing... will fix shortly!

[2015-02-21 23:54] jbenet commented on #1
fixed in 6a53369

- changes now live at gh-pages (http://ipfs.io)
- republished in ipfs at http://gateway.ipfs.io/ipfs/QmUwysxnfccA1mArjkzTxPRhMnJuLvA6CqgzAPJt9cwMsc/
- will automate republishing soon.

[2015-02-21 23:54] #1 closed

[2015-02-22 14:39] BrendanBenshoof opened #2 "Links on command list are broken"
links for commands on http://ipfs.io/docs/commands/ link back to the wrong page.

links are resolving to : http://ipfs.io/#ipfs-object-links

rather than
http://ipfs.io/docs/commands/#ipfs-object-links

It looks like you are using some javascript to load the page and manipulating the display url. Relative links will not work as intended if you are doing that.

[2015-03-06 00:05] jbenet opened #3 "Getting Started curl links are broken, need gateway.ipfs.io"
moving https://github.com/jbenet/ipfs/issues/52 by @tv42

----

http://ipfs.io/docs/getting-started/ says

[code]

needs to say

[code]

[2015-03-06 00:06] jbenet opened #4 "Getting Started is missing a screenshot"
Moving https://github.com/jbenet/ipfs/issues/51 by @tv42

---

http://ipfs.io/docs/getting-started/

[code]

[2015-04-05 06:14] dylanPowers opened #9 "Move the install button to be "above the fold""
Basically put an "Install IPFS" button in the header.

From the irc channel:
[code]

[2015-04-05 08:51] dylanPowers commented on #9
@inconshreveable I wanted to keep you in the loop. I had more in this issue, but I somehow missed seeing your previous pull requests. Anyways, I don't think this part of the discussion was in your pull requests so I went ahead and submitted an issue.

[2015-04-10 04:43] jbenet commented on #9
done

[2015-04-10 04:44] jbenet commented on #9
![](https://www.evernote.com/shard/s198/sh/e1266677-f391-4722-b93b-fdfcde0344ae/799d738cc80dce7513a220c59ecb2ca2/deep/0/IPFS-is-a-new-peer-to-peer-hypermedia-protocol..png)

[2015-04-10 04:45] #9 closed

[2015-04-11 23:17] dylanPowers commented on #2
The issue is that <base href="../../"> is set in the html head. We should probably not do that and instead have the navigation links be generated relative to the page they're on.

[2015-04-12 15:32] jbenet commented on #2
Agreed!

—
Sent from Mailbox

On Sat, Apr 11, 2015 at 4:17 PM, Dylan Powers <notifications@github.com>
wrote:

[2015-04-19 21:55] jbenet opened #12 "add links to faq / help github repo"

[2015-04-24 04:19] dylanPowers commented on #3
This appears to have already been resolved

[2015-04-24 04:19] #3 closed

[2015-04-24 06:25] dylanPowers opened #13 "Tool that tests for broken links needed"
It would be good to have a tool that can test for broken links and give us a little piece of mind that we aren't frustrating anyone out there.

[2015-04-27 19:41] ChristopherA opened #15 "$GOPATH"
The instructions in https://github.com/ipfs/website/tree/gh-pages/docs/install/index.html for installation by using `go get` will confuse many new users to Go as the `go` installer does not set the $GOPATH property by default, and `go get` does not work without it.

I recommend that you add the command
`if [ ! $GOPATH ]; then export GOPATH=$HOME/go; export PATH=$PATH:$GOPATH/bin; fi` the command `

[2015-04-27 19:56] ChristopherA opened #16 "Mac Brew instructions"
For the "From Source" section of https://github.com/ipfs/website/blob/gh-pages/docs/install/index.html

On the Mac I recommend [Homebrew](http://brew.sh) to install `go` over the method outlined in your instructions.

The steps for installing IPFS using Mac Homebrew are:

* Install [Homebrew](http://brew.sh) if you have not already done so.
* If you don't have `Git` already installed, enter `brew

[2015-04-27 23:08] jbenet commented on #16
we used to recommend this but ran into many problems. the brew tap wasn't up to date with the latest go release. brew isn't alone, lots of other pkg managers (apt included) have old versions of Go (sometimes simply unsupported, like Go 1.2).

We could have these instructions in a readme to link to from the site? or a page on its own.

[2015-04-27 23:11] jbenet commented on #15
Agreed. I originally wanted to defer to the go install page, but that's an adventure on its own. :+1: for telling users about `$GOPATH`.

[2015-05-06 08:07] harlantwood opened #17 "Updating website in github publishes changes to IPFS && to ipfs.io"
Edit: Original title of this issue was: **Idea: Publishing website to IPFS auto-publishes to github pages**

Background: I've been having fun setting up continuous deployment to github pages recently for a few of my own sites.  For example, when anyone updates the [site source on github](https://github.com/decentralizedstack/website) for dstack.org, [CI](https://circleci.com/gh/decentralizedstack/

[2015-05-06 08:09] harlantwood commented on #17
...oops, posted while still work in progress, stand by...

[2015-05-08 15:25] harlantwood commented on #17
CC @jacksenechal

[2015-05-13 09:24] BillDStrong commented on #16
brew allows you to bring in your own custom updated go version if you want, or anything else for that matter.

[2015-05-18 06:49] harlantwood commented on #17
@jbenet interested to hear your thoughts on this when you have a chance...

[2015-06-05 20:12] dylanPowers commented on #13
http://wummel.github.io/linkchecker/ works really well. The only disadvantage is that it doesn't parse the fragment links and see if the html id tags exist. We should integrate it into the build to be ran before deployment.

[2015-06-05 20:37] dylanPowers opened #26 "Link directly to the index.html in directories"
Linking directly to the index.html will make it so that the website will work when loaded directly from the filesystem. It's fine now that it's loaded exclusively through a webserver, but when we start distributing the site through ipfs this will be important to do.

[2015-06-05 20:46] jbenet commented on #26
Disagree. I purposefully hide the index.html by creating extra directories. Even when distributing sites through ipfs and using js-only ipfs nodes, we'll still respect the well known trick of loading index.html at a directory endpoint.

Is there a case you're thinking about that is impossible to handle?

—
Sent from Mailbox

On Fri, Jun 5, 2015 at 1:37 PM, Dylan Powers <notifications@github.com>
w

[2015-06-05 20:46] jbenet commented on #26
(We can respect this btw because there's a browser at play and we know we're in web execution context)

—
Sent from Mailbox

On Fri, Jun 5, 2015 at 1:45 PM, Juan Batiz-Benet <juan@benet.ai> wrote:

[2015-06-05 21:30] dylanPowers commented on #26
And that's it, it's a trick by the web server. There is no standard (that I know of) that says index.html should be served as the directory root. People have even used home.html and default.html in the past (and probably present) to serve the same purpose. In fact Chrome (pretty sure with all the others too but feel free to prove me wrong) won't load index.html files when loading straight from the

[2015-06-05 23:31] harlantwood commented on #13
Maybe it could work on CI...

[2015-06-06 00:14] dylanPowers commented on #13
We haven't set up CI for this yet, but that's a good idea.

[2015-06-06 00:26] jbenet commented on #13
+1

[2015-06-06 00:34] jbenet commented on #26
i'm pretty sure `index.html` is extremely well known and relied upon. if someone put it there, they _mean it to be loaded instead_. feel free to poll people, but i doubt we'll find large numbers of people who want to put an `index.html` file AND not have it load it by default.

[2015-06-06 01:13] dylanPowers opened #28 "Set up CI"
We need to set up continuous integration builds on this repo. At this moment all it needs to do is check that pull requests build successfully and don't contain dead links (#13)

Left to do:
- [ ] setup `.travis.yml`
- [ ] setup `circle.yml`

[2015-06-06 01:38] jbenet commented on #28
@dylanPowers i just enabled travis + circleci on this repo.

[2015-06-06 01:39] jbenet commented on #28
left to do:
- [ ] setup `.travis.yml`
- [ ] setup `circle.yml`

[2015-06-06 06:44] dylanPowers opened #29 "WebUI screenshot !"responsive""
This was introduced in https://github.com/ipfs/website/pull/22. The fix should be a small bit of width: 100% css.

![image](https://cloud.githubusercontent.com/assets/1594851/8018660/9be11f62-0bdc-11e5-8b4c-f151fc48f1e8.png)

[2015-06-12 11:49] jbenet commented on #17
Hey @harlantwood finally getting around to this one.

This would definitely work, but can skip the gh-pages entirely (if there is someone willing to provide the data -- we're considering this sort of thing). Can skip gh-pages because IPFS supports a way to serve arbitrary websites at their own domains, with two DNS records: a TXT and an A.

[code]
I'd love for someone to write up an example of how

[2015-06-27 07:28] jbenet opened #31 "Tests to verify getting-started examples work with current version"
we should have an automated script that tests all the getting-started stuff works correctly.

[2015-06-27 07:29] jbenet opened #32 "script to update the version number listed"
we could have a script that updates the version listed in getting-started _after_ running tests. see #31  and #30

[2015-07-04 16:56] ThomasWaldmann opened #33 "videos don't show up"
when I visit http://ipfs.io/#alpha-demo with firefox I only see the headline and the button, not the video.

doing same with chromium, it works. so it might be some firefox plugin or settings I use.

but: watching the videos on youtube directly also works in FF for me, so maybe there should be direct links to YT on the website also.

[2015-07-04 22:57] jbenet commented on #33
@ThomasWaldmann so the _embed_ is failing? could you try disabling extensions to see if it's regular FF or extensions? (embeds fine for me in FF)

thanks for this!

[2015-07-05 12:35] ThomasWaldmann commented on #33
It's the Firefox Extension "Privacy Badger 0.2.6" from EFF that doesn't like embedded YT videos.

[2015-07-05 22:03] jbenet commented on #33
Maybe display an alt text or something.

[2015-08-07 03:48] Quiark opened #35 "Links on Commands Reference are broken"
At  http://ipfs.io/docs/commands/  clicking a command on the top brings me to the main page which is a bit confusing. I don't understand why it doesn't work though. I'm on Windows 7 with Firefox 39

[2015-08-07 04:24] whyrusleeping commented on #35
It looks like the links are to `ipfs.io#command` instead of `ipfs.io/docs/commands#command`

[2015-08-14 02:57] lgierth opened #36 "Need push permission"

[2015-08-15 02:11] #36 closed

[2015-08-15 02:43] jdmaresco commented on #15
Thanks for posting this issue, helped me resolve my problem.

As someone new to Go, I thought I could just set the GOPATH to an arbitrary location. If you do this, then run the `go get` command as in the installation instructions for IPFS, there's no indication that your GOPATH is incorrectly set, it just doesn't work.

[2015-08-15 03:09] jbenet commented on #15
@jdmaresco it's an annoying problem. Want to take a stab at how to say it on the page?

[2015-08-15 03:20] jdmaresco commented on #15
Sure, I'll submit a PR

[2015-09-05 22:11] bussiere opened #39 "make broken"
root@*****:~/website# make
    ./build.js
    make: *** [build] Error 1

[2015-09-05 22:31] whyrusleeping commented on #39
did you npm install? was there any other output?

[2015-09-09 11:59] edent opened #41 "Insecure iFrame & non-encoded &amp;s"
On https://github.com/ipfs/website/blob/a9563738910f25968d3d7227e132b58ba596afb5/src/ipfs.io/index.html#L45

iFrame content should be linked via HTTP*S* - [some browsers may not load insecure content](https://blog.mozilla.org/tanvi/2013/04/10/mixed-content-blocking-enabled-in-firefox-23/).

For best practice, `&` should be `&amp;` http://www.w3.org/TR/html/syntax.html

[2015-09-09 23:32] RJ opened #43 "internalWebError: context deadline exceeded"
error message seen at: https://ipfs.io/docs/commands/
via https://ipfs.io/docs/api

[2015-09-09 23:35] RJ commented on #43
https://ipfs.io/docs/api page, linked from About, sends me to that error page

[2015-09-10 12:01] cryptix commented on #43
Should work now.

@jbenet:  I just republished the website. I guess the last version wasn't pinned properly?

[2015-09-10 12:32] severak opened #44 "Create TL;DR / FAQ document"
Create FAQ document. Describe:
* what IPFS **is** or is not.
* how it's compare with similar existing systems

[2015-09-10 12:57] jbenet commented on #43
thoughts @lgierth ?

[2015-09-10 13:02] lgierth commented on #43
I had pinned it...

Dunno, *something* timed out.

[2015-09-12 20:09] RichardLitt commented on #39
Running `make` automatically runs `npm i`. So, not sure what the problem is. I couldn't replicate it.

[2015-09-12 20:33] RichardLitt commented on #44
We sort of already have this; it just isn't a document or linked on the website. Go to https://github.com/ipfs/faq.

Is that what you had in mind? I've added a link to the FAQ in PR #48.

[2015-09-13 04:47] RichardLitt commented on #12
Done in #48

[2015-09-13 04:47] #12 closed

[2015-09-14 14:20] RichardLitt commented on #4
Deprecated. Screenshot now exists.

[2015-09-14 14:20] #4 closed

[2015-09-14 15:44] RichardLitt opened #50 "Rename downloadable directories to avoid confusion"
When downloading an IPFS installation folder from the website, a folder called `ipfs` has a file called `ipfs` in it. This can cause mild confusion for users who move the entire folder to their bin, instead of just the `ipfs` executable. Renaming the top-level folders to `ipfs-install`, `ipfs-download`, or something similar would make sure this is never a friction point. See https://github.com/ipf

[2015-09-14 16:34] jbenet commented on #50
sure. we cannot rename the directory (it's handled by something else) but we should be able to tell tar to rename the output?

[2015-09-16 23:47] lgierth opened #52 "Include example viewer and examples"
So that we end up with e.g. https://ipfs.io/docs/examples/example#/ipns/ipfs.io/docs/examples/be-the-swarm.md

... or use a static site generator that we can feed with markdown

[2015-09-17 07:18] amstocker opened #54 "landing page"
I was talking to some people on IRC about a possible redesign of the ipfs.io landing page.  I just thought I would open up a discussion about it with some ideas:

- Have only one video on the landing page that best describes ipfs and its goals, then have other videos on a separate page.
- A non-technical introduction section for people who may not be fluent in bittorrent, git, etc, or who may not

[2015-09-17 12:34] davidar commented on #54
Thanks @amstocker . I'm particularly interested in seeing:

- some examples of real problems that ipfs can solve, so people can see how it relates to their domain (bioinformatics, governmental data, users who get burned by single-points-of-failure, etc)
- what makes ipfs different to other well-known approaches (the existing web, freenet, maelstrom, etc) - not all the gory details, but the importa

[2015-09-17 23:16] spikebike commented on #35
Hrm, I tracked it down.  The website generates that file with:
website/src/ipfs.io/docs/commands/Makefile

Which runs:
ipfs commands | ~/go/src/github.com/ipfs/go-ipfs/bin/gencmdref >$@

Which generates:
- [ipfs](#ipfs)
- [ipfs add](#ipfs-add)
- [ipfs bitswap](#ipfs-bitswap)
- [ipfs bitswap stat](#ipfs-bitswap-stat)
- [ipfs bitswap wantlist](#ipfs-bitswap-wantlist)

Which looks plausible.  Then it

[2015-09-17 23:16] jbenet commented on #54
very much in favor of this! :+1: :+1:

Let's:
1. keep outlining all of the desires
2. only afterwards propose sketches
3. only after a few, we'll select then implement

[2015-09-18 08:53] davidar commented on #54
Perhaps a good first step would be to curate some pages for different use cases, for example:

- hosting static websites/blogs (github pages on ipfs), with an emphasis on interoperability with the existing web (unlike freenet, etc)
- scientific publications and data
- media hosting (ipfs.pics)
- open data distribution (e.g. for governments, who don't like providing bandwidth indefinitely)
- file d

[2015-09-20 15:23] RichardLitt opened #56 "Edit superfluous Project page links"
- [ ] Linking to 'Install' and 'Getting started' in Documentation in Project is superfluous and can be removed.
- [x] The Code and Community links to IPFS descriptions are inconsistent in regards to where the spec is.

[2015-09-20 15:24] RichardLitt commented on #54
@amstocker Thanks for opening this! 100% agreed.

I'm planning on overhauling the landing page, because right now it is not catchy and assumes a lot. I'm not sure exactly where to start - I agree that there are too many videos, and there's not enough text for beginners. Right now, there's actually no about page for further reading, and a lot of questions I would have are only answered in the ipfs/

[2015-09-20 15:29] RichardLitt commented on #56
Code issue has already been fixed, just needs to be pushed to live site.

[2015-09-20 15:40] RichardLitt commented on #35
It's because there is a `<base />` overriding the URLs. It is set [here](https://github.com/ipfs/website/blob/master/src/ipfs.io/docs/commands/index.html#L2) and is needed for all of the relative links in the `<head>`, but totally borks the rest of the anchors in the page.

[2015-09-20 15:42] RichardLitt commented on #35
That should fix it. Unhappy though. [StackOverflow comment](https://stackoverflow.com/questions/12303241/how-to-override-base-tag-without-removing-the-tag-itself):

[2015-09-20 15:43] RichardLitt commented on #52
I'm not sure I quite understand this. Do you mean embed them, or something?

[2015-09-21 01:41] amstocker commented on #54
@RichardLitt I definitely like the idea of an ipfs textbook.  Also re: alpha-sunrise, the jumbotron on the main page is really cool, but I think other pages should have a more minimal header/navigation-bar

[2015-09-21 02:34] jbenet commented on #54
@RichardLitt the concerns you raise are great to hear and have documented, but please **_do not_** spend time on actually _overhauling_, redesigning, or significantly changing this. We're not going to design our website by committee/pull-request, Landing pages are a very important piece, and take _a lot_ of hard design work to get right. Of course, feel free to continue outlining concerns to addre

[2015-09-21 14:32] RichardLitt commented on #54
Heh, message received. No need for italics, this saves me a lot of effort :D

Good move. I still think most of the things above can be changed now, without overhauling the website. They're imperfections with the current set up, not a redesign.

[2015-09-23 07:38] davidar commented on #54
@RichardLitt Sorry, let me clarify. My suggestion is for the landing page to look something like:

where you make those dot-points into big colourful boxes, or a carousel, or whatever it is that web designers do ;). You click on one, and it expands into something like:

Where "click here" takes you to a more in-depth introduction. However, by this stage the person has hopefully gotten some hands-o

[2015-09-23 12:56] jbenet commented on #52
yeah we could clone the repo as a submodule or something.

[2015-09-23 16:07] RichardLitt commented on #56
Unnecessary.

[2015-09-23 16:07] #56 closed

[2015-09-23 16:27] RichardLitt commented on #54
Ah, cool. Makes more sense!

[2015-09-23 21:26] lgierth commented on #52
I didn't realize the example-viewer is part of the examples repo: https://github.com/ipfs/examples/tree/master/webapps/example-viewer

We should still make sure both the viewer and the examples are somehow part of the website deploy, so that we don't have to rely on random pinnings.

[2015-09-23 21:27] lgierth opened #61 "Pinning should be part of deploy"
Right now we have to manually pin the new website version via pinbot, otherwise it'll get lost on the next GC run.

[2015-09-23 21:29] RichardLitt commented on #61
We could add that to https://github.com/ipfs/website/pull/59?

[2015-09-24 03:43] jbenet commented on #61
see also https://github.com/ipfs/notes/issues/55

[2015-09-24 19:35] RichardLitt commented on #2
Should be closed in https://github.com/ipfs/website/pull/62.

[2015-09-24 19:35] #2 closed

[2015-09-24 19:44] RichardLitt opened #63 "What sites would you like IPFS to look like?"
So, IPFS is going to go through a redesign soon (cf. #54). We would like to field examples of websites which are awesome that we should plan to aim for in our redesign, and to work from // give to the redesigners.

Please suggest cool features and sites you would like us to emulate here!
- [norse-corp.com](http://www.norse-corp.com/). This site is gorgeous, and has the right amount of awesome. A b

[2015-09-24 20:19] jbenet commented on #63
:+1:

some more:
- https://www.coinbase.com/
- https://stripe.com/us/features
- https://www.stellar.org/
- https://toshi.io/
- https://ethereum.org
- https://stats.ethdev.com/ <---  for monitoring networks
- https://gateway.ipfs.io/ipfs/QmWutsjiuUYZ73KwXkbVFzBU7LVTDD4AExpzbJ1MZjYURk/mdown#/ipfs/Qme8TXsJMsmMAH5FFgmt4k2s59GrWJ8Cm9QB9a1a8Vg2Jz <--- this has a bunch from last websites iteration

[2015-09-24 20:39] theobromine commented on #63
A formatted list of interesting ifps servers would be nice. Really any address that I can enter into ipfs and get results.

[2015-09-24 21:43] RichardLitt commented on #17
I think this is pretty much done with the last merge in #59, which automatically sets the DNS record.

[2015-09-24 21:43] RichardLitt commented on #39
Unable to recreate. Closed pending further response.

[2015-09-24 21:43] #39 closed

[2015-09-24 21:44] RichardLitt commented on #15
Closed given #38.

[2015-09-24 21:44] #15 closed

[2015-09-24 21:46] RichardLitt commented on #26
I agree. Closing this as conversation seems stale.

[2015-09-24 21:46] #26 closed

[2015-09-24 21:54] jbenet commented on #17
yeah last part would be to automate the publish with a githook webhook or something

[2015-09-24 21:55] RichardLitt commented on #17
Can't do that without publicly providing digitalocean keys.

[2015-09-24 21:58] jbenet commented on #17
well, would have a githook to a machine we control with the hook or something

[2015-09-26 04:39] jbenet commented on #63
cc @kyledrake

[2015-09-26 07:49] whyrusleeping commented on #63
https://www.neonmob.com/  - really pretty, and the site is interactive in a non-distracting way.

[2015-09-26 23:15] amstocker commented on #63
As long as we avoid [the startup template](http://tiffzhang.com/startup/) :) .  I really like the digital ocean community site: https://www.digitalocean.com/community/

[2015-09-27 00:55] jbenet commented on #63
Andrew, I hear you and in general agree with the sentiment. But I'm also going to be contrarian contrarian here and say that the reason the startup template exists is that it actually works really well with its target audiences. 

We shouldnt rule out styles on aesthetic predilections but instead pick the best styles for our audiences.

—
Sent from Mailbox

On Sat, Sep 26, 2015 at 7:15 PM, Andrew

[2015-09-27 01:47] amstocker commented on #63
@jbenet I would say your contrarian point is completely valid :) .  Although this leads me to ask, what is exactly is IPFS's target audience?  There are definitely a very wide range of use-cases to account for.

[2015-09-27 03:15] jbenet commented on #63
@amstocker yep, we should define our many target audiences here too, before settling on a direction.

here's _some_:
- webapp developers likely to use IPFS to build on
- app developers likely to use IPFS to build on
- end-users likely to use IPFS for content distribution
- offline-first web/app developers
- blockchain world people
- network engineers doing content distribution who could use IPFS
-

[2015-09-27 03:21] jbenet opened #66 "test hash before publishing it"
We should have a test on the publish-to-dns makefile target: we should check the hash we'll use is correct, by testing some well known things like an image.

i say this because i hosed the website by publishing the _root_ (below `/ipfs.io`) instead of the `ipfs.io` dir and for a while broke the site. (totally my fault, should've verified the hash before using it, but this could be a test) The TTL

[2015-09-29 21:36] ethers opened #67 "webpage for FAQ"
readme of https://github.com/ipfs/faq says "All these questions and answers will be compiled into a webpage rendered at http://ipfs.io/docs/install"

I don't see where these Q&A are in http://ipfs.io/docs/install ...

https://github.com/ipfs/faq/issues/55#issuecomment-143978574

[2015-10-23 07:01] zignig opened #73 "Need to update install docs to say golang 1.5"
https://ipfs.io/docs/install/ - should be go 1.5

[2015-10-27 09:54] jbenet commented on #73
i believe this has been fixed in master, but needs to be deployed.

would love to see autodeploy

[2015-10-27 09:54] jbenet opened #75 "auto deploy?"
would be nice to have a deploy hook that updated the DNS record or something on successful merge

[2015-10-27 16:35] harlantwood commented on #73
My favorite pattern is to auto deploy from CI iff tests pass or at least build completed without errors.

[2015-10-27 16:38] harlantwood commented on #17
Maybe we can provide the DO auth token as an env variable in Travis or Circle and publish from there?

#73

[2015-10-28 13:51] cryptix commented on #75
Keep in mind external links might go out of date, too. The markdown viewer that is linked to in the examples doesn't include ipfs/examples#31 for instance.

[2015-11-02 11:22] jbenet commented on #17
yeah maybe, though not sure if those creds might be leakable through their public webuis.

we could write a nice dedicated webhook bot for people to deploy on heroku or something. maybe this is something https://github.com/diasdavid/ipscend could help with-- particularly if it did the dnslink-deploy part too-- then the hook would be very simple.

the hook could still do it, but would be more compl

[2015-11-02 15:24] diasdavid commented on #17
Doesn't gh-pages require that a repo with a gh-pages branch to exist? We could add an option on ipscend for 'onpublish' to also push to the gh-pages branch, would that fulfil the expectation?

[2015-11-02 15:37] RichardLitt commented on #17
We could just make gh-pages the main branch. GitHub allows that option, and we don't need master to be the trunk.

[2015-11-06 22:14] MarkDerosier opened #77 "gateway.ipfs.io/ipfs/ cannot acess certain folders if named a certain way."
http://gateway.ipfs.io/ipfs/Qme8HUxpr6QMcDzd3U1SzgUqtnoFQDdxZUZC69VMpi4LaL

you cannot acess the files of  	"zip.php?token=tudz6g6c_FILES" and "zip.php?token=u1vrx1pq_FILES"  through the webUI, although they exist and can easily be seen with CLI.

the folders in redirect will only go to "zip.php" even tho the other two folders have their own different contents.

[2015-11-07 00:47] cryptix commented on #77
Thanks for reporting this. This is an issue with the index generation of go-ipfs, see ipfs/go-ipfs#1947 for more.

[2015-11-08 19:46] RichardLitt opened #78 "Redesign Media Page"
This is a visibility issue for ideas expressed in the now closed https://github.com/ipfs/website/pull/71.

@jbenet:

[2015-11-10 07:12] jbenet commented on #77
isn't it an issue with _the web_ outlawing `?` ?

[2015-11-14 07:15] harlantwood commented on #17
I think this thread is no longer about github pages.  I'll change the title to reflect that.  It's about deploying to IPFS triggered by a guy commit, ie from a github webhook.

I've been playing with this for IPFS/ci-status#1,  and found a nice module to do this with node... Something like:

[code]

I plan to build this anyway to deploy the CI dashboard on any github commits to its own codebase; w

[2015-11-16 16:21] RichardLitt commented on #17
I'm always for putting everything in one place: I would vote for using DigitalOcean, and for using ipfs/githooks.

Everything else looks great.

[2015-11-16 17:44] harlantwood commented on #17
Sounds good, will prototype on my own server and ping when it's baked.

[2015-11-16 18:07] jbenet commented on #17
@harlantwood im ok with heroku for things like these -- particularly since it's free :). the tricky bit is accounting all apps hosted there and so on. i could get us an account etc.

[2015-11-16 18:07] jbenet commented on #17
also ok with one codebase

[2015-11-21 05:48] harlantwood commented on #17
I'll keep prototyping on heroku for now... not sure if the free tier will work, or the $7/mo hobby tier would be needed.

Going with one codebase, at least for now.

[2015-11-22 19:55] lgierth opened #79 "Maybe use ipscend"
https://github.com/diasdavid/ipscend

[2015-11-23 23:18] RichardLitt commented on #79
Is ipscend all good to run now? Because if so, yeah, that might be awesome.

[2015-11-23 23:31] diasdavid commented on #79
@RichardLitt it has been for a while, I use it for my webpage http://daviddias.me, but more feedback and people using would be great! :)

[2015-12-14 21:31] harlantwood commented on #17
This development is moving forward in https://github.com/ipfs/infrastructure/issues/137; closing this issue.

[2015-12-14 21:31] #17 closed

[2015-12-15 19:19] fazo96 opened #82 "links to download binaries lead to the "master" binaries instead of "release""
I see many people wanting to try out IPFS and downloading it from https://ipfs.io/docs/install/

The problem is that the links to the binaries there lead to the `master` branch binaries instead of the `release` ones, so people end up trying an unstable version.

[2015-12-16 09:36] jbenet commented on #82
yeah we should be using `release`. just pushed an update.

[2015-12-16 09:36] #82 closed

[2015-12-18 22:29] RichardLitt opened #83 "Issue with nunjucks reading endmarkdown block tag"
I'm getting this issue, not sure why. I've `npm i`nstalled, so this shouldn't be a problem.

[code]

[2015-12-19 04:50] jbenet commented on #83
Maybe versions?
On Fri, Dec 18, 2015 at 14:29 Richard Littauer <notifications@github.com>
wrote:

[2015-12-23 04:13] RichardLitt commented on #83
Works for various node versions I tried. Not sure what else to try, here. Here are my versions of nunjucks:

[code]

[2015-12-23 04:22] harlantwood commented on #83
@richardlitt is this on master?  Or on a branch?  If branch, which one?

[2015-12-23 04:25] RichardLitt commented on #83
@harlantwood - I just got it working! Was a problem with how I was compiling a template. Fixed it by being smarter. PR imminent. Thanks!

[2015-12-23 04:25] #83 closed

[2015-12-23 04:29] RichardLitt commented on #83
@harlantwood See #84. :D

[2015-12-25 07:02] abacon opened #85 "Getting Started hash returns `merkledag: not found`"
Fresh install of ipfs ipfs version 0.3.10 (prebuilt go binary for OSX, running 10.11.1)

The hash indicated in [Getting Started](https://github.com/ipfs/website/blob/master/src/ipfs.io/docs/getting-started/index.html#L40) isn't available.

[code]

[2015-12-29 23:16] RichardLitt commented on #16
If we're not using it, would it benefit anyone to have it as a Readme that we would have to update eventually? If it would, I'd be happy to spearhead adding this in.

[2015-12-29 23:29] RichardLitt commented on #35
This was fixed! :D

[2015-12-29 23:29] #35 closed

[2015-12-29 23:30] RichardLitt commented on #43
Can't replicate. Closing! Reopen if it pops up again.

[2015-12-29 23:30] #43 closed

[2015-12-29 23:36] RichardLitt commented on #61
Is this still an open issue, @lgierth?

[2015-12-29 23:38] RichardLitt commented on #66
I think this may be fixed with https://github.com/ipfs/dnslink-deploy/issues/6.

[2015-12-29 23:38] RichardLitt commented on #67
We haven't done this yet, but it is in the pipeline at some point. Thanks for opening an issue here to mention it!

[2015-12-29 23:40] RichardLitt commented on #73
@harlantwood Yep, but we still need the CI for that. See #28. After we have CI we can make this work.

We now say 1.5! As such, closing this. Thanks, @zignig.

[2015-12-29 23:40] #73 closed

[2015-12-29 23:41] RichardLitt commented on #28
Autodeploy would be good to have after this. https://github.com/ipfs/website/issues/73#issuecomment-151438980

[2015-12-29 23:43] RichardLitt commented on #77
Closing this as a now-duplicate. Thanks again, @MarkDerosier!

[2015-12-29 23:43] #77 closed

[2015-12-29 23:46] RichardLitt commented on #85
I was able to find it fine:

[code]
Maybe open this issue on [ipfs/support](//github.com/ifps/support) or hop into the IRC channel?

[2015-12-30 02:14] lgierth commented on #61
Yes totally

[2016-01-04 21:06] RichardLitt commented on #16
@diasdavid Is https://github.com/ipfs/distributions/issues/22 helpful ,to this?

[2016-01-05 09:39] diasdavid commented on #16
yes, or I would say that this is helpful to ipfs/distributions#22 :)

[2016-01-14 00:26] eminence opened #88 "[Blog] change entry order"
Seems like the blog entries should be ordered such that the newest entries are on top (not the bottom)

http://ipfs.io/blog/

[2016-01-14 01:11] jbenet commented on #88
agreed

[2016-01-14 03:35] RichardLitt commented on #88
Fixed with ipfs/blog#20

[2016-01-20 14:05] BigBlueHat opened #92 "Windows and Getting Started...bugs?"
I'm doing the insane thing and trying to run go-ipfs on Windows 10! It's actually gone quite well. :smile:

However, there's some weirdness.

I've added some annotations via hypothes.is that highlight (heh) the issues:
https://via.hypothes.is/https://ipfs.io/docs/getting-started/

Summary:
* the `/ipfs/` path throws an error in `ipfs cat` commands--removing it fixes it
* nothing seems to work with

[2016-01-21 13:25] whyrusleeping opened #93 "commands reference outdated"
we need to update these

[2016-01-25 00:30] jbenet commented on #92
@BigBlueHat using hypothesis for bug reports is awesome, how can i do that easier? with the regular hypothesis plugin? can i sketch on the page yet? how so i self-host it? (can i grab all the data easily and put it on ipfs? see https://github.com/jbenet/asciinema-selfhost and https://davidar.io/TeX.js/ )

---

Those are all bugs!  we need more help from windows folks.

[2016-01-25 15:52] BigBlueHat commented on #92
@jbenet awesome. PR in-coming. :smile_cat:

Also, replies:

The plugin only works in Chrome--I use Firefox--so I typically use the [via.hypothes.is](http://via.hypothes.is/) proxy instead.

Sadly no. I use Microsoft Edge (Windows-only...sorry) for that...when I need it. :wink: It "cheats" a bit, though, and essentially outputs a local archive / image of the page + "scribbles"--so they punt on the

[2016-01-25 16:26] BigBlueHat commented on #92
@jbenet so...I'm trying to narrow down if this is a Windows only thing? or an All The Platforms bug--i.e. the command pattern changed sometime before v0.4.0.

[2016-01-25 19:40] BigBlueHat commented on #92
k. Seems from IRC it's Windows only. Given that, I'm not sure this should be a doc fix--unless it's temporary--but rather making these command lines consistent on all platforms.

I'm doing this in bash (though on Windows), so it's a bit strange that it's working differently (disallowing the `/ipfs/`).

Still happy to patch this, though!

[2016-02-03 02:53] jbenet commented on #92
hmmm yeah i think this is windows bugs. cc @dignifiedquire @gatesvp

[2016-02-06 12:44] whyrusleeping opened #95 "install docs point to old gobuilder binaries"
we should update this to point to dist.ipfs.io

cc @RichardLitt @lgierth

[2016-02-09 10:10] jbenet opened #96 "change "interplanetary networks" notice"
change "interplanetary networks" copyright notice to "Protocol Labs"

[2016-02-22 03:21] GravisZro opened #100 "Website has bad performance (Was "Increase compression on images!")"
For love of God, please increase the compression on the websites images!  2MB for the front page background? **SERIOUSLY?!**

[2016-02-22 09:23] dignifiedquire commented on #100
This is sadly not the only perf issue with the site: [WebPagetest Results](http://www.webpagetest.org/performance_optimization.php?test=160222_EK_EC7&run=1&cached=0)
 and below Chrome performance audit:

![screen shot 2016-02-22 at 10 21 43](https://cloud.githubusercontent.com/assets/790842/13214166/4c911602-d94e-11e5-89a7-5e3659324896.png)
![screen shot 2016-02-22 at 10 21 25](https://cloud.githu

[2016-02-22 10:29] Kubuxu commented on #100
There are many places where performance can be improved  but making the image alone not weight 3MB would greatly decreases loading time.

[2016-02-24 10:19] #95 closed

[2016-02-28 01:17] chris-martin commented on #85
Same error for me, using ipfs version 0.3.11 via NixOS.

[2016-02-28 02:19] chris-martin commented on #85
It worked after I started `ipfs daemon`. Is that supposed to be a requirement?

[2016-02-28 18:20] RichardLitt commented on #85
Oh! Yes, it is! And that explains the error above.

[2016-02-28 18:25] RichardLitt commented on #85
Hmm. Actually, I'm not sure. @whyrusleeping @diasdavid Shouldn't this work without being connected?

[2016-02-28 19:41] diasdavid commented on #85
@RichardLitt that is because the init docs have changed (https://github.com/ipfs/go-ipfs/commits/master/assets/init-doc) but the hash on that welcome text hasn't. This means that everyone has indeed the welcome docs in their machine, but it is trying to load a older version that is available on the network (and so needs the daemon on).

[2016-02-28 20:06] RichardLitt commented on #85
Hmm. How can I remove a version of the older file from my local so that I can reproduce?

[2016-02-28 20:12] diasdavid commented on #85
@RichardLitt the best way to reproduce is to backup your repo and init a new one, so you start on the same ground that @chris-martin and @abacon started

[2016-03-02 03:50] RichardLitt opened #102 ""Getting Started" link removed from Install page"
... it should be added back.

[2016-03-02 17:30] #96 closed

[2016-03-04 00:58] jbenet commented on #102
group, this is critical. please add this back asap.

[2016-03-04 01:03] whyrusleeping commented on #102
was removed here: https://github.com/ipfs/website/pull/98

[2016-03-04 01:15] jbenet commented on #102
It's very frustrating when i give directions to people and they end up at a total impasse because our tech broke down in some way. I usually play the role of Quality Control for the whole project, and i make sure that everything stays working. But i cannot play that role right now, so please be more careful with these things.

Honestly, this is testable, so maybe this should be in some production

[2016-03-04 09:59] dignifiedquire commented on #93
@RichardLitt can this be closed now that #99 was merged?

[2016-03-04 10:21] #102 closed

[2016-03-04 15:08] RichardLitt commented on #93
Yes. Thanks!

[2016-03-04 15:08] #93 closed

[2016-03-24 02:37] mitar opened #110 "Explain how much disk space will my initial installation take"
Around there where you suggest running daemon, I would appreciate some comment if this would take a lot of disk space or not. As a IPFS beginner, I would suspect that it would start syncing data from others to my computer. Probably it does not do so, but then a statement of encouragement would be cool as well. (Like, no files will be downloaded until you ask for them.)

[2016-04-06 18:29] micxjo opened #111 "Consider including a security statement on https://ipfs.io"
While [the go-ipfs repo](https://github.com/ipfs/go-ipfs/) includes a section on `Security Issues` and https://ipfs.io/ipfs/QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG/security-notes exists, https://ipfs.io, https://ipfs.io/docs/install and http://dist.ipfs.io do not seem to contain any mention of security (even `ctrl-f "secur"` comes up blank).

This is compounded by the fact that the site doe

[2016-04-06 20:42] RichardLitt commented on #111
These are very good points. @dignifiedquire What do you think? dist is yours. We should certainly mention it on docs/install; I don't think that ipfs.io needs it so much.

[2016-04-07 19:30] dignifiedquire commented on #111
I think there is a larger discussion to be had around how "ready" IPFS is and how we talk about it. Whatever the conclusion there is should be displayed in a consistent way on all platforms.

[2016-04-08 23:13] micxjo commented on #111
A previous version of the install instructions included the warning

Unsigned binaries are now being served from dist.ipfs.io over plain HTTP without any similar warning. While hopefully you will soon be able to at least link to the binaries over HTTPS (see https://github.com/ipfs/distributions/issues/59), in the mean time you should consider adding a warning about the safety of the binary distrib

[2016-05-02 12:45] ligi opened #115 "Path Resolve error: no link named "blog" under QmaBvfZooxWkrv7D3r8LS9moNjzD2o525XMZze69hhoxf5"
when browsing https://ipfs.io/ipns/ipfs.io there is a broken link to https://ipfs.io/ipns/ipfs.io/blog which does not work

[2016-05-05 22:42] lgierth commented on #111
(we have ssl for dist.ipfs.io now)

[2016-05-06 18:17] micxjo commented on #111
Great! The links at https://ipfs.io/docs/install/ should be updated to use SSL.

[2016-05-06 18:41] lgierth commented on #111
Yes, I'll get to that in a bit. We have HSTS enabled so your browser should pick SSL anyway.

[2016-05-16 22:12] chpio opened #116 "enable DANE/TLSA"
is there a possibility of enabling [DANE](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities) on the domain, so dns responses are secured (especially  for the dnslink entry)?

PS: and also enable the DNSSEC check in ipfs.

[2016-05-17 10:52] chpio commented on #115
same here, im using the Firefox ipfs addon with enabled dnslink lookup and getting this error too. The link should point to https://blog.ipfs.io imho.

[2016-05-17 19:21] lgierth commented on #115
Yep agreed this needs fixing -- I wanna bring the blog back into the website object, so that /ipns/ipfs.io/blog just works.

The blog itself can still be a separate repo and published at /ipns/blog.ipfs.io, but the website publish step would check what the current /ipns/blog.ipfs.io is, and link that as "blog".

[2016-05-17 19:27] Kubuxu commented on #115
It should be one files API or object patch call.

[2016-05-17 19:41] chpio commented on #115
wouldn't be faster just to link to the blog? what's the reason not to use this simple solution? also your approach would link to the version of the blog at publish time, not the current/last version.

[2016-05-17 20:07] lgierth commented on #116
Thanks for bringing this up!

I haven't looked into DANE, but it looks like a good idea. About DNSSEC I'm a bit wary, mainly because of what tptacek has to say about it [1][2].

- [1] http://sockpuppet.org/blog/2015/01/15/against-dnssec/
- [2] http://sockpuppet.org/stuff/dnssec-qa.html

[2016-05-17 20:48] chpio commented on #116
what's about ipfs dnslinks and cjdns IPs? we need *something* to secure these.

he's right but :D we need to trust someone, implement web of trust (lol look at pgp) or use a blockchain (lol look at namecoin) or something.

electrum *could* be *the* solution (in a few years). Also i don't think blockchain tech is implementable at client level (btc needs 50gb of hdd space) yet (?).

[2016-05-17 20:49] Kubuxu commented on #116
I think it is not long until ethereum releases light weight clients and then you will be able to recreate namecoin but in ethereum world.

[2016-05-17 21:38] lgierth opened #118 "Missing FreeBSD and NetBSD icons on install page"

[2016-05-20 15:01] chpio commented on #33
or link them directly from ipfs. *All* (Opera mini is not, but wtf is Opera mini? Is it the GameBoy browser?) browsers should support this: [H.264](http://caniuse.com/#feat=mpeg4) & [VP8/9](http://caniuse.com/#feat=webm)

[2016-05-29 20:06] djdv opened #119 "Command Reference: Undocumented arguments"
I noticed that the "pin" argument (https://github.com/ipfs/go-ipfs/pull/1931) to `add` is undocumented in the [command reference](https://github.com/ipfs/website/blob/master/src/ipfs.io/docs/commands/cmdref.md), I was going to make a pull request and add it in but it seems that the markdown file is generated somehow:

If that's the case it seems like whatever generates it may be missing all the po

[2016-05-29 20:16] lgierth commented on #119
The commands reference is generated from the output of `ipfs commands` if I remember correctly. @RichardLitt knows more.

[2016-05-30 11:26] RichardLitt commented on #119
Thanks for bringing this up, @djdv.

PRed. @lgierth, can you publish?

We really ought to update this automatically. Any ideas how we can do that, @lgierth?

[2016-05-30 16:29] chpio commented on #115
getting the same error for rss links. the blog links to http://ipfs.io/blog/6-distributions/ which resolves to http://127.0.0.1:8081/ipns/ipfs.io/blog/6-distributions/ resulting in `Path Resolve error: no link named "6-distributions" under QmUEg9ksrB5QEuVm1DnejBRgKiPPh9XjwU4hKV6MZLJaE1`. could be the "update" problem mentioned above.

[2016-06-03 12:40] chpio commented on #115
#122

[2016-06-09 08:12] haadcode opened #124 "Links under 'IPFS Starlog' are broken"
[code]

[2016-06-09 13:56] diasdavid commented on #124
just noticed this too :)

[2016-06-09 15:01] adambrault commented on #124
on it

[2016-06-11 01:07] cerberusaeon commented on #85
I just downloade 0.4.2 and I had to manually start the daemon before Getting Started.  Please update the Getting Started tutorial.

[2016-06-13 06:02] whyrusleeping opened #125 "Add Whitepaper link to the IPFS footer list"
From the front page i cant easily find the whitepaper. The filecoin one is listed nicely at the bottom, but i'm not seeing a similar link for ipfs.

[2016-06-13 11:27] RichardLitt commented on #125
It's there - search for 'white paper' https://ipfs.io/

[2016-06-13 11:30] RichardLitt commented on #124
Still broken?

[2016-06-13 16:08] noffle commented on #125
@whyrusleeping +1. It'd be nice to see parity /w Filecoin by listing the IPFS one in the links list at the footer.

[2016-06-13 18:30] adambrault commented on #124
This was fixed by [this commit](https://github.com/ipfs/website/pull/123/commits/f1c526794e03e346dfe38afd86471af6e0643de3)

Visible working [here](https://ipfs.io/ipfs/QmQkVAnFNJP2i717BeeL58b4rNTzgFtNeDkhM21axLKY2K/#latest)

[2016-06-14 00:27] #61 closed

[2016-06-14 00:30] #79 closed

[2016-06-14 00:43] #75 closed

[2016-06-14 00:44] lgierth commented on #92
@BigBlueHat is this still an issue with the new website?

[2016-06-14 01:05] lgierth opened #126 "Absolute links in the footer"
All links need to be relative -- we have no origin/host to relate to, and thus no absolute root. We could be at ipfs.io, ipfs.io/ipns/ipfs.io, ipfs.io/ipfs/QmTzQ1JRkWErjk39mryYw2WVaphAZNAREyMchXzYQ7c15n, or localhost:8080/ipns/ipfs.io

[2016-06-14 08:28] RichardLitt commented on #78
@lgierth I think this is still something to do.

[2016-06-14 10:36] RichardLitt opened #128 "Animation links between stars should not fade"
I feel that this would be a fun thing to fill out, and not fade away. This is IPFS, after all. :)

[2016-06-14 10:37] RichardLitt commented on #92
I don't think this should be here. @BigBlueHat Reopen in github.com/ipfs/go-ipfs/issues if needed? :)

[2016-06-14 10:37] #92 closed

[2016-06-14 10:54] RichardLitt opened #129 "Twitter Cards for website"
Please see this issue in ipfs/notes: https://github.com/ipfs/notes/issues/120

Should we do this now?

[2016-06-20 20:13] jbenet opened #130 "SVGs missing"
Some SVGs are missing for Chrome Version `47.0.2526.106` -- this may be chrome's fault? or i need to reboot the browser?

![](https://ipfs.io/ipfs/QmYBuTPn7JuRwodaN1UqhKQ3v821zsCRzQHhkynHGwDNyE/svgsmissing.png)

[2016-06-21 01:20] jbenet opened #131 "Blog content"
the readme says:

this doesn't work for us.
- the blog itself is a separate set of documents, that live at github.com/ipfs/blog and will remain separate.
- each blog entry is its own directory, with an index.md and all the content _in that directory_, not another. this makes it easy to move, alter, and back up entire blog entries. this is true for BOTH source and product files (source markdown + a

[2016-06-21 08:35] jbenet commented on #128
Disagree, it's fun that they disappear over time so you can start over or play with evolving patterns (game of life esque). probably could be modes. we could have an easter egg page that lets you play with it in various modes.

[2016-06-21 11:12] lgierth commented on #128
I like the stars either way, but they're eating good amounts of CPU

[2016-06-27 15:33] RichardLitt opened #133 "Contact link broken"
The "Contact" link at the bottom of https://ipfs.io/ goes to https://ipfs.io/contact, which is broken.

[2016-06-27 15:39] songproducer opened #134 "Be the swarm examples"
https://ipfs.io/ipfs/QmTkzDwWqPbnAh5YiV5VwcTLnGdwSNsNTn2aDxdXBFca7D/example#/ipfs/QmQwAP9vFjbCtKvD8RkJdCvPHqLQjZfW7Mqbbqx18zd8j7/network/readme.md

Manually connect to a specific peer:

ipfs swarm connect /ip4/104.236.176.52/tcp/4001/ipfs/qmsolnsgccfuzqjzradhn95w2crsfmzutddwp8hxahca9z

should be :

ipfs swarm connect /ip4/104.236.176.52/tcp/4001/ipfs/QmSoLnSGccFuZQJzRadHn95W2CrSFmZuTdDWP8HXaHca9z

[2016-06-27 23:31] whyrusleeping commented on #134
@songproducer thanks for reporting!

[2016-06-28 10:50] RichardLitt commented on #134
Thanks @songproducer: opened a fix here. https://github.com/ipfs/examples/pull/55

[2016-06-30 17:22] davidak commented on #115
https://ipfs.io/ipns/ipfs.io/blog/ works for me (now). Is it fixed?

[2016-07-01 06:07] chpio commented on #115
yeah, works for me too. but there are some new bugs (broken links in the footer, broken rss feed url, broken urls in the feed)

[2016-07-01 06:10] whyrusleeping commented on #115
the blog link has been fixed.

@chpio thanks for reporting the other issues, we will get them fixed

[2016-07-03 02:03] lgierth opened #137 "Add PIP dependencies to Makefile"
There should be a requirements.txt with locked versions, and the Makefile should set up a virtualenv, and install the dependencies described in the readme.

[2016-07-03 02:11] lgierth commented on #131
We have two blogs at the moment, the website-blog at ipfs.io/blog, and the blog-blog at blog.ipfs.io backed by the blog repo. The former used to rewrite the request to blog.ipfs.io, but I removed that a while ago so that ipfs.io/blog and /ipns/ipfs.io/blog are consistent.

The only thing keeping blog.ipfs.io from having the website-blog right now, is style/js/image assets are in higher directories

[2016-07-03 02:13] lgierth commented on #115
The blog links works now as @whyrusleeping said, but /ipns/ipfs.io/blog and ipfs.io/blog are inconsistent (needs fixing), which is tracked in #131

[2016-07-03 02:13] #115 closed

[2016-07-03 02:34] lgierth opened #138 "Vendor jquery"
Right now jquery is loaded for the header animation, from https://ipfs.io/ipfs/QmSb8577TaDYTN2Zo1bZ43PCUYfEneM2REuWZsDGtURLDn -- it should be contained within the website build.

[2016-07-03 02:35] lgierth opened #139 "Header animation eats too much CPU"
It keeps my chromebook's CPU at a constant ~50%

[2016-07-03 02:46] whyrusleeping commented on #139
BUT ITS PRETTY.

[2016-07-03 02:47] lgierth commented on #139
I'm asking for optimization, not removal :)

[2016-07-03 02:47] em-ly commented on #139
chrome always eats up my CPU so idk what you expected with a CHROMEbook. maybe get a new laptop?

[2016-07-03 02:49] lgierth commented on #139
If I can't ipfs on the Xerox Alto that [YCombinator are restoring](https://news.ycombinator.com/item?id=11929396), it's not my revolution

[2016-07-03 02:53] jbenet commented on #139
@lgierth you win this issue. :heart: so much :heart: dat Alto!!!

[2016-07-03 02:54] jbenet commented on #139
but anyway, point very much taken, and i agree. it slows down my macbook a lot too. i dont like having the site open because of it.

[2016-07-03 02:54] jbenet commented on #139
(and, our websites should never kill cpu)

[2016-07-03 02:59] jbenet commented on #139
yes! 👍 to this idea.

ideally with a cookie so people who are affected can disable it.

[2016-07-03 11:56] chpio commented on #131
what is holding us back doing it the other way around? redirecting from blog.ipfs.io to ipfs.io/blog? is there a reason to keep them separated and coping the posts from one to the other?

[2016-07-03 13:37] lgierth commented on #131
we can't redirect /ipns/blog.ipfs.io to /ipns/ipfs.io/blog -- both need to exist

[2016-07-03 14:59] RichardLitt opened #140 "Update README for instructions on how to update `commands`"
See #135.

[2016-07-04 20:00] RichardLitt commented on #139
Possibly related to https://github.com/ipfs/website/issues/128.

[2016-07-26 09:57] dignifiedquire opened #143 "Can't build"
Trying to get a local version running it fails very sadly :(

[code]

[2016-07-26 09:58] dignifiedquire commented on #143
cc @adambrault

[2016-07-26 10:26] dignifiedquire commented on #131
@lgierth @jbenet @adambrault we need to figure this out so we can ship the new blog.
As far as I can tell it would be good to keep the pure content of the blog in its own repo and include pulling the content in into the build process.

[2016-07-26 10:27] dignifiedquire commented on #130
@jbenet can you please confirm that the referenced commit fixed the issue?

[2016-07-26 10:28] dignifiedquire commented on #128
Closing as non actionable. Please continue to discuss though :)

[2016-07-26 10:28] dignifiedquire commented on #125
I suggest adding it to the footer list of `IPFS` in the same style as Filecoin.

[2016-07-26 10:29] dignifiedquire commented on #118
Closing as no icons are present on the new site anymore

[2016-07-26 10:29] #118 closed

[2016-07-26 10:31] dignifiedquire commented on #54
Closing this as we now have a fancy and awesome new landing page. Please feel free to open a new issue if there are concerns that are not addressed there.

[2016-07-26 10:31] #54 closed

[2016-07-26 10:32] dignifiedquire commented on #52
@lgierth is this still relevant?

[2016-07-26 10:32] chpio commented on #131
we could just add a simple js script which would do the redirect. Or is there an other reason for them to exist beside a working url?! also i don't think it would be a big problem if one url would just stop working, i would do it rather sooner than later.

[2016-07-26 10:32] dignifiedquire commented on #50
This process is part of dist.ipfs.io. @RichardLitt if this is still an issue for you please open an issue there.

[2016-07-26 10:32] #50 closed

[2016-07-26 10:33] dignifiedquire commented on #44
Closing in favor of #67

[2016-07-26 10:33] #44 closed

[2016-07-26 10:33] dignifiedquire commented on #41
This page does not exist anymore in the new website. Thank you for the report

[2016-07-26 10:33] #41 closed

[2016-07-26 10:34] dignifiedquire commented on #28
Given that there are no tests for the website at this point in time I don't see the need for CI. Autodeploy is a much longer story which will be tackled at a later point.

[2016-07-26 10:34] #28 closed

[2016-07-26 10:36] dignifiedquire commented on #33
I'm closing this, as we have a new website now and a lot of things have changed. Please file a new issue if this is still a problem.

[2016-07-26 10:36] #33 closed

[2016-07-26 10:37] dignifiedquire commented on #29
This should not be an issue anymore in the newest version of our website :)

[2016-07-26 10:37] #29 closed

[2016-07-26 10:39] dignifiedquire commented on #16
Closing in favor of the referenced distributions issue.

[2016-07-26 10:39] #16 closed

[2016-07-26 10:39] dignifiedquire commented on #129
@RichardLitt just do it ;)

[2016-07-26 10:47] dignifiedquire commented on #143
Fixed by http://stackoverflow.com/questions/19961239/pelican-3-3-pelican-quickstart-error-valueerror-unknown-locale-utf-8

[2016-07-26 10:47] #143 closed

[2016-07-26 11:15] lgierth commented on #131
:+1:

In addition, we need the blog to be self-contained, so we can keep publishing it at /ipns/blog.ipfs.io -- we can symlink the required assets into the blog.

[2016-07-26 11:16] lgierth commented on #131
We don't break links :)

[2016-07-26 15:56] RichardLitt commented on #50
Looks like this was solved by renaming to go-ipfs. Thanks for closing, @dignifiedquire!

[2016-07-26 15:57] RichardLitt commented on #128
@dignifiedquire This is pretty actionable, it just shouldn't be prioritized at all. The action is to change the JS.

[2016-07-26 15:57] RichardLitt commented on #125
SGTM. Duplication for the paper is probably smart.

[2016-07-26 16:06] dignifiedquire commented on #128
@RichardLitt yes but I don't see a consensus on changing it

[2016-07-26 16:08] RichardLitt commented on #128
That's as actionable as this will be; making a PR that allows you to switch on keypress should do it, fine. I think that this is a good idea, and would be fun.

[2016-08-23 00:18] lgierth commented on #133
We've been pinged about this on twitter too: https://twitter.com/curious_corn/status/766915473321529345

[2016-08-24 21:57] whyrusleeping opened #145 "arm linux binaries not listed on install page"
We should probably list the arm linux binaries on the install page, a large number of users install ipfs on raspberry pis and that is the distribution they will want to use.

[2016-09-05 15:09] jbenet opened #147 "remove osx 32bit listing"
we dont need the mac osx 32bit listing in the install page. this confuses users. we should remove it.

[2016-09-15 20:35] #130 closed

[2016-09-26 17:24] Stebalien opened #153 "Switch to a trustworthy CA (e.g., let's encrypt)"
Given that both WoSign and StartSSL are [no longer trustworthy CAs](https://docs.google.com/document/d/1C6BlmbeQfn4a9zydVi2UvjBGv6szuSB4sMYUcVrR8vQ/preview) (although most browsers still trust currently issued certificates to avoid breaking everything), I have revoked them on my local laptop. Unfortunately, ipfs.io uses StartSSL. Please consider switching to Let's Encrypt or some other trustworthy

[2016-09-26 17:51] lgierth commented on #153
Ouch, thanks for bringing this up. Can you recommend a CA that hands out wildcard certs? That was the only reason why we didn't go with Let's Encrypt in the first place.

[2016-09-26 18:03] Stebalien commented on #153
Not a free one unfortunately.

[2016-09-26 18:26] RichardLitt commented on #153
Can you recommend one which isn't free?

[2016-09-26 19:29] Stebalien commented on #153
Sorry, I'm way out of my depth here. I understand the CA system from a technical perspective but which authorities are trustworthy. Also, this isn't exactly pressing; no browsers are currently planning on revoking StartSSL at the moment.

[2016-10-23 19:55] voltagex commented on #85
The error message could definitely be more helpful.

[2016-10-28 21:08] lgierth commented on #153
Moved to ipfs/infrastructure#192

[2016-10-28 21:08] #153 closed

[2016-11-07 03:39] Mithgol commented on #129
This comment is a quarterly nudge.

[2016-11-07 19:34] VictorBjelkholm commented on #129
Closing this based on what was said here: https://github.com/ipfs/notes/issues/120

[2016-11-07 19:42] Mithgol commented on #129
Wait, haven't the purpose of this issue been not only to approve Twitter Cards in the Twitter's validator (which at ipfs/notes#120 is found to be an unnecessary step), but also (and before that) to add some Twitter Cards to the web site?

[2016-11-07 19:47] VictorBjelkholm commented on #129
@Mithgol the following part makes me believe this already works as we want:

I'm unsure if we want to add custom Twitter Cards for ipfs.io itself...

[2016-11-10 09:06] RichardLitt commented on #129
Currently, Twitter Cards work for content hosted on the IPFS gateway, which I believe was the original point of this issue.

![screen shot 2016-11-10 at 6 04 49 pm](https://cloud.githubusercontent.com/assets/910753/20170564/30a8bb02-a770-11e6-92aa-c77e7be9d2dd.png)

However, they don't work on https://ipfs.io. Why wouldn't we add a Twitter Card, @VictorBjelkholm?

[2016-11-10 13:15] VictorBjelkholm commented on #129
@RichardLitt I have nothing against adding Twitter Cards for the website with some nice content, if someone feels appealed to spend time adding it.

I think I misunderstood what the issue what about, so good thing you opened it again :+1:

[2016-11-11 07:42] RichardLitt commented on #137
+1

I am unable to build the site right now, or to test it locally. I've tried installing pelican, and I am getting an error missing a dependency (html_parser via six) that I cannot seem to easily solve.

@VictorBjelkholm Can you help me by adding the above, so that I can use a venv to do this?

[2016-11-14 12:20] VictorBjelkholm commented on #137
@RichardLitt not sure how much I can help you, I did the following to setup a development environment for this website:

[code]

and now the server is running on http://localhost:2016

I'm no python expert so probably can't help you with venv. Maybe @lynnandtonic, @adambrault or @fritzy could help you out.

[2016-11-14 16:00] RichardLitt commented on #137
Sorry, I got this working. Looks like I referenced the wrong PR in https://github.com/ipfs/website/pull/158/files.

[2016-12-17 04:54] djdv opened #160 "Blog date locale"
I'm not sure if this is intended or not, at the bottom of the main page on https://ipfs.io, the months of blog posts appear to be in German, the rest of the page is rendering in English, I'm viewing the site from a US IP currently.
![site de](https://cloud.githubusercontent.com/assets/13862850/21284448/2fd6537a-c3e9-11e6-9be4-8655253670a3.png)

[2016-12-17 15:21] VictorBjelkholm commented on #160
True, good catch and thank you!

Seems when we build the page, we are using the locale date, instead of just dates in english. In the code that's here: https://github.com/ipfs/website/blob/b30bc2383693f19b9347f45d67f261c61ccdc78e/ipfs.io-theme/templates/index.html#L18

So that means that the dates would be where the build is running, not where the visitor is, which I guess was the intention.

[2017-01-02 17:19] gowthamgts commented on #125
I think this is fixed and can be closed.

[2017-01-03 05:52] #125 closed

[2017-01-06 10:19] e0015503 commented on #85
Using version ipfs version 0.4.4.
I have got my peer ID and started daemon...i am able to run all other command except cat ...
when i do cat it just stops there for long time.

[2017-02-15 16:44] Jimskapt opened #164 "Translation ?"
Hello !
It would make me happy if I can translate the website, especially in my locale "fr_FR".
Are you OK with that ?

[2017-02-17 02:05] #147 closed

[2017-02-17 02:07] #145 closed

[2017-02-21 03:19] lgierth commented on #164
Thanks so much for offering help :) I'm afraid we're currently not ready to accept translations, unfortunately translations also require certain infrastructure (actual support in the code, work process, etc).

@ipfs/community Let's discuss documentation translations in the sprint 13-March to 23-March: https://github.com/ipfs/pm/issues/357

[2017-02-21 03:20] lgierth commented on #164
and @Jimskapt feel free to join in with recommendations or ideas if you can :)

[2017-02-21 19:54] Jimskapt commented on #164
Yeah, I had spend a couple of hours after posting my issue to check if I can easily install i18n functionnalities (I'm new on Python & Pelican).

Looks like [Pelican have i18n functionalities](http://docs.getpelican.com/en/stable/content.html?highlight=i18n#translations) but I think something got weird in Markdown-module configuration to use it out-of-the-box :-)

Thank you for your answer, I stil

[2017-02-21 19:54] #164 closed

[2017-02-23 20:00] whyrusleeping opened #165 "links in footer arent properly relative"
Viewing the page via `localhost:8080/ipns/ipfs.io` and clicking the links at the bottom breaks. I think thats because these links are absolute.

[2017-02-25 07:56] jbenet opened #166 "cool animation example"
https://qtum.org/

[2017-02-25 07:56] #166 closed

[2017-03-03 00:07] lgierth commented on #140
@hsanjuan could you have a look here? Anything missing?

[2017-03-03 00:29] lgierth commented on #165
This needs to become a Hugo pages and I think the things will look a bit better. But who knows, maybe Pelican has some $relativePathToRoot var too, which we can prepend links with.

[2017-03-03 00:31] lgierth commented on #133
This has been fixed to point to ipn.io/contact in the meantime -- this repo here has a contact page too, but I'm not sure why that's not accessible.

[2017-03-03 00:31] #133 closed

[2017-03-03 13:54] hsanjuan commented on #140
@lgierth seems the content of this issue has been addressed doesnt it?

[2017-03-03 19:22] lgierth commented on #140
Cool then :+1:

[2017-03-03 19:22] #140 closed

[2017-03-03 19:39] RichardLitt commented on #140
thanks!

[2017-03-18 03:34] lgierth opened #173 "Convert to Hugo"
All our websites should be hugo sites, this one included.

[2017-04-03 18:43] Kubuxu opened #177 "The website makes requests to ipfs.io even when it runs on local daemon"
![](http://gateway.ipfs.io/ipfs/QmaZ7UihDVJ97ytk954bKz42WJknNA1bC9nXtsFta8PrpA/screencap.2017-04-03T14:41:15Z.png)

[2017-04-03 19:58] VictorBjelkholm commented on #177
Yeah, seems to be hardcoded here: https://github.com/ipfs/website/blob/e6dec9fff816d1a7229bf5a45d68f8eddf971231/ipfs.io-theme/templates/latest.html#L45

[2017-04-07 17:12] Snarkly opened #178 "Admin panel"
Does this website have some form of an admin panel/dashboard to change the background of your site or to add headers to your site? Something like what Wordpress has. I hate coding and I don't want to get into CSS files to change the way the website looks. If it doesn't, please consider adding one for us non-coders who hate coding.
![wordpress-admin-panel-e1437378192219](https://cloud.githubusercon

[2017-04-07 18:59] lgierth commented on #178
ipfs.io and the other project websites (dist.ipfs.io, libp2p.io, etc) are just static websites. There's a wordpress plugin to help you create a static website from your wordpress installation (same for Drupal and others).

Please reopen if you have further questions.

[2017-04-07 18:59] #178 closed

[2017-05-02 08:57] reit-c opened #180 "The info links for ipfs-see-all on dist.ipfs.io are broken"
https://dist.ipfs.io/#ipfs-see-all

The links to the project changelog, github page and so on are all broken.

[2017-05-12 10:56] Kubuxu commented on #131
This is a problem right now as: `ipfs ls /ipns/ipfs.io/blog` doesn't contain the new blog post.

[2017-05-15 13:57] flyingzumwalt opened #184 "Starlog listing of "The Latest" is out of date"
Section at the bottom of the ipfs.io homepage that says "The Latest" only shows starlog entries up to June 2016. There have been 7 entries since then. (I wish there had been more!)

This should update automatically based on the content of the blog -- either loading dynamically or built into the publication process when new starlog posts are added.

In the meantime, we need someone to add the missi

[2017-05-15 14:34] lgierth commented on #184
Yeah I think that's because website and blog are separate entities, and we haven't set up the website-blog in a way yet that allows it to be accessed independently. The people who built the website weren't instructed on this particularity.

- ipfs.io/blog != /ipns/ipfs.io/blog
- ipfs.io/blog == /ipns/blog.ipfs.io

I have WIP branches of the blog and website which fix this and still let us work on

[2017-05-15 14:35] lgierth commented on #184
Also removing the difficulty:easy and help-wanted tags, it's not something a contributor can easily fix.

[2017-05-25 17:52] jdanford opened #187 "Links on examples page are out of date"
The [examples page](https://github.com/ipfs/website/blob/c8064d046b2db4736d28c6446ae145d1829af82d/content/pages/docs/examples.md) is rendering Markdown files from an old version of the examples project (QmRFTtbyEp3UaT67ByYW299Suw7HKKnWK6NJMdNFzDjYdX) that dates back to November 2016 or earlier. Does the current version of the project exist on the IPFS network, or should I add it?

[2017-05-31 21:23] jdanford opened #190 "Starlog list on front page is out of date"
The most recent Starlog entry on the front page dates back to 2016-06-01. Additionally, the top two entries have French month names in the dates, so I'm assuming there's not a consistent locale being used to build the site.

----

<img width="165" alt="screen shot 2017-05-31 at 2 13 58 pm" src="https://cloud.githubusercontent.com/assets/5767112/26654707/ae42a38a-460c-11e7-9bcf-f7fcd84baf47.png">

[2017-06-06 16:33] jdanford commented on #190
Duplicate of #184 – my bad!

[2017-06-06 16:33] #190 closed

[2017-06-10 23:00] #187 closed

[2017-06-15 21:03] JanZerebecki opened #196 "example The Inter-Planetary Naming System fails to load"
On https://ipfs.io/docs/examples/ "The Inter-Planetary Naming System" links to https://ipfs.io/ipfs/QmNZiPk974vDsPmQii3YbrMKfi12KTSNM7XMiYyiea4VYZ/example#/ipfs/QmP8WUPq2braGQ8iZjJ6w9di6mzgoTWyRLayrMRjjDoyGr/ipns/readme.md which only shows "Loading...".
I assume #52 causes errors like this to happen.

[2017-06-15 21:05] JanZerebecki commented on #196
Source in this repo: https://github.com/ipfs/website/blame/f2afaeeac375b9a7cf1434c5e4268382a7040ca5/content/pages/docs/examples.md#L29

[2017-06-21 14:33] diasdavid commented on #173
@olizilla and @alanshaw are onto this :)

[2017-06-21 14:34] #88 closed

[2017-06-22 11:27] diasdavid commented on #173
=> https://github.com/ipfs/website/pull/200

[2017-06-22 11:27] #173 closed

[2017-06-22 11:31] diasdavid commented on #131
This problem will be solved with https://github.com/ipfs/blog/issues/116 (happening next in July) where the `ipfs/blog` will only contain the markdown files so that we continue to have the blog post pipeline, but the whole website+blog will be one webpage.

[2017-06-22 11:33] diasdavid commented on #184
This will be all solved with https://github.com/ipfs/blog/issues/116 as https://github.com/ipfs/website/issues/131#issuecomment-310353629

[2017-06-22 11:35] diasdavid commented on #177
This is jquery - https://github.com/ipfs/website/issues/138

Solving in https://github.com/ipfs/website/pull/200

Closing this issue :)

[2017-06-22 11:35] #177 closed

[2017-06-24 10:46] diasdavid opened #201 "can we avoid printing this?"
[code]

@olizilla the new set up prints a ton of these ^^ on `make dev`. Can we avoid this constant check? it makes every other log disappear

[2017-06-24 10:47] diasdavid commented on #138
Done with https://github.com/ipfs/website/pull/200

[2017-06-24 10:47] #138 closed

[2017-06-24 10:50] diasdavid commented on #137
No more PIP with https://github.com/ipfs/website/pull/200 \o/

[2017-06-24 10:50] #137 closed

[2017-06-24 10:51] diasdavid commented on #196
It's working for me. Can you confirm @JanZerebecki ?

[2017-06-24 10:53] diasdavid commented on #180
@reit-c thank you for the report. the right repo for this issue is https://github.com/ipfs/distributions

opened an issue there: https://github.com/ipfs/distributions/issues/147

[2017-06-24 10:53] #180 closed

[2017-06-24 10:56] diasdavid opened #202 "Deploy the website"
@lgierth ipfs.io is not on DNSSimple but on Digital Ocean, this means I can't deploy it myself and that the shiny new `make publish-to-domain` won't work too.

Can you move it to DNSSimple?

[2017-06-24 10:56] diasdavid commented on #165
Website has been migrated to Hugo \o/  https://github.com/ipfs/website/pull/200

Now just needs to be deployed -> https://github.com/ipfs/website/issues/202

[2017-06-24 11:00] diasdavid commented on #139
There is a toggle now thanks to @jdanford \o/

![image](https://user-images.githubusercontent.com/1211152/27508021-afff8b90-58d4-11e7-9615-2682eab746c8.png)

[2017-06-24 11:03] diasdavid opened #203 "make dev leaves the watcher process running in the background"
See:

![](https://ipfs.io/ipfs/Qma8nYdsFn9Fe9UUxS3PWvHtqkHRtCRYgHyxexiMDFJADR)

I already had terminated the make dev on the left, but once I made a make dev on the right, the watcher was still running on the left.

[2017-06-24 11:04] diasdavid commented on #203
Same thing for Hugo processes, I now have a hugo 💥

![image](https://user-images.githubusercontent.com/1211152/27508039-3a0f011c-58d5-11e7-9214-50d4b633016f.png)

[2017-06-24 14:39] lgierth commented on #202
Oh yeah good you remind me, that move is largely prepared already!

[2017-06-24 16:23] lgierth opened #204 "Pulls JS from typekit.net"
Site should be completely self-contained

[2017-06-24 16:23] lgierth opened #205 "New site has no <title>"

[2017-06-24 16:23] lgierth commented on #202
Site is deployed now -- ipfs.io DNS migration will take a few more days while I sort out issues with support.

[2017-06-24 16:23] #202 closed

[2017-06-24 17:06] diasdavid commented on #205
@richsilv seems that https://github.com/ipfs/website/blob/master/config.toml#L10 is not getting propagated, could you take a look?

[2017-06-24 17:07] diasdavid commented on #128
Now we have a `Disable Animation` button for the CPU problem. I believe all here is solved

[2017-06-24 17:07] #128 closed

[2017-06-24 17:08] #124 closed

[2017-06-24 17:10] diasdavid commented on #165
Fixed \o/

[2017-06-24 17:10] #165 closed

[2017-06-24 17:11] diasdavid opened #206 "`Disable Animation` shows on pages without the animation"
Just noticed this:
![image](https://user-images.githubusercontent.com/1211152/27510448-78abe4c0-5908-11e7-9038-9f01b68345ab.png)

@jdanford could you help us get this one fixed? Thank you!

[2017-06-24 17:14] jdanford commented on #206
Whoops! Should be a quick fix.

[2017-06-24 19:30] JanZerebecki commented on #196
Yes it now works for me, too.

[2017-06-24 19:30] #196 closed

[2017-06-24 19:31] #206 closed

[2017-06-24 19:32] diasdavid commented on #206
thank you @jdanford !

[2017-06-24 20:04] #134 closed

[2017-06-26 09:18] olizilla commented on #203
@diasdavid The idea is that you'd run `make devstop` to kill all the long running watch tasks.

[2017-06-26 09:19] olizilla commented on #203
We could look at a more robust solution that uses `watchman` or similar in the next sprint and keeps all the long running tasks under a single process, that you can kill to end all the spawned processes.

[2017-06-26 09:21] olizilla commented on #205
I'm looking into this now.

[2017-06-26 10:41] #205 closed

[2017-06-26 10:42] diasdavid commented on #203
@olizilla oh I see, didn't notice that Make task was there. Adding a log in the end of make dev that says "use make devstop to .." would be super helpful.

[2017-07-11 14:13] diasdavid commented on #204
Getting removed with https://github.com/ipfs/website/pull/209

[2017-07-11 14:13] #204 closed

[2017-07-11 14:14] #139 closed

[2017-07-11 14:43] diasdavid opened #215 "Make dev doesn't create the blog/index.json"
![image](https://user-images.githubusercontent.com/1211152/28074050-7ea75e14-664f-11e7-96f0-86501d9af570.png)

Which results in an empty starlog section
![image](https://user-images.githubusercontent.com/1211152/28074083-97e21360-664f-11e7-8c5c-88ec89c59a69.png)

@richsilv

[2017-07-11 14:54] richsilv commented on #215
@diasdavid The JSON is [built by the blog](https://github.com/ipfs/blog/blob/master/layouts/index.json) - at the moment, the website build process has no knowledge of its contents.  In production, this means that the new blog build process will make the JSON available at `/blog/index.json` and the website will load it from there, but in dev you would have to build the blog and then copy the JSON i

[2017-07-11 14:55] richsilv commented on #215
Please let me know if the above doesn't make sense.

[2017-07-11 16:14] diasdavid commented on #215
@richsilv that should be documented on the README and also, if there has to be something c&p manually just for dev, better create a JSON and add it to the repo so that others don't find that bug.

[2017-07-11 16:46] richsilv commented on #215
@diasdavid I'll update the README accordingly.

I can also drop a file into `static/blog/index.json`, but I just want to check that if the site is built and deployed with this file in it (which will then be in `public/blog/index.json`), the file that gets served at `https://ipfs.io/blog/index.json` will be the one built in `/index.json` by the blog site and **not** this one.  I don't want to leave

[2017-07-11 18:01] diasdavid commented on #215
@richsilv roger! I think the best way to do that is to make it obvious that the placeholder is a placeholder (with funny titles) and a note on the README that explains what happens.

[2017-07-13 20:43] #215 closed

[2017-07-13 20:43] diasdavid commented on #215
awesome! thank you @richsilv ! :D

[2017-08-02 11:28] alanshaw commented on #203
resolved by https://github.com/ipfs/website/pull/218

[2017-08-02 11:28] #203 closed

[2017-08-04 13:59] lgierth opened #220 "Starlog links broken"
They point to e.g. /30-js-ipfs-crdts.md instead of /blog/30-js-ipfs-crdts.md

[2017-08-04 23:50] diasdavid commented on #220
@richsilv @alanshaw mind checking this? Right now our users can't find the blog through the website.

[2017-08-13 21:43] da2x opened #223 "Broken links (IPFS variant only)"
1. Visit http://127.0.0.1:8080/ipns/ipfs.io/docs/examples/
2. Click on “IPFS for websites” in the list of examples

    `ipfs resolve -r /ipns/ipfs.io/ipfs/QmNZiPk974vDsPmQii3YbrMKfi12KTSNM7XMiYyiea4VYZ/example: no link named "ipfs" under QmPCawMTd7csXKf7QVr2B1QRDZxdPeWxtE4EpkDRYtJWty`

23. Go back and click on “Blog” (in the top bar)

    `ipfs resolve -r /ipns/ipfs.io/blog: no link named "blog"

[2017-08-23 05:50] diasdavid commented on #201
Looks fixed now. Thank you @richsilv @olizilla :)

[2017-08-23 05:50] #201 closed

[2017-08-23 05:51] diasdavid commented on #160
Fixed now
![image](https://user-images.githubusercontent.com/1211152/29600722-79839190-87cf-11e7-9ed1-69e5ad614b99.png)

Thanks for reporting!

[2017-08-23 05:51] #160 closed

[2017-08-23 05:55] diasdavid commented on #100
We have come a long way :) http://www.webpagetest.org/result/170823_76_53e700e05b5b3d59f9db38cd857a31f0/

Seems we can speed things up a bid by using static asset caching http://www.webpagetest.org/result/170823_76_53e700e05b5b3d59f9db38cd857a31f0/1/performance_optimization/

@lgierth is this something you can do in the Gateway?

[2017-08-23 05:57] diasdavid commented on #67
Now we have a whole community forum for FAQ, support and anything else you mint want help from the community. The forum is available at: https://discuss.ipfs.io/ and it is already linked from the webpage.

Thanks for bringing this up :)

[2017-08-23 05:57] #67 closed

[2017-08-23 05:58] diasdavid commented on #85
This should not be an issue anymore. If anyone finds an issue in go-ipfs, please report at https://github.com/ipfs/go-ipfs

Thanks!

[2017-08-23 05:58] #85 closed

[2017-08-23 10:27] Kubuxu commented on #100
I think with 561 KB the ipfs.io is small enough.

@diasdavid the caching is not simple as it is served from IPNS/DNS, we have plans (and in past there were PRs for it) for it but it is more complex than it looks because we can't get good DNS TTL.

[2017-08-23 10:54] diasdavid commented on #100
Ack! Thanks for bringing that up, @Kubuxu :)

Let's say that this is done then 🌟

[2017-08-23 10:54] #100 closed

[2017-08-26 19:23] mechanista opened #225 "Rss feed links broken"
Links to the blog posts in the rss feed are broken because the channel link is not a full URL.

See: https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fipfs.io%2Fblog%2Findex.xml

Without a full URL in channel link the links for the individual items resolve to `/blog-post-name` instead of `https://ipfs.io/blog/blog-post-name`.

[2017-08-30 21:49] shroomist commented on #85
still a problem here. installed and getting
`#grep PeerID ~/.ipfs/config
    "PeerID": "QmW8DKrYwdatoKxnYt3jK9SKMfurAfQ9m8XGVhhaczF61z",
#ipfs cat /ipfs/QmW8DKrYwdatoKxnYt3jK9SKMfurAfQ9m8XGVhhaczF61z
Error: merkledag: not found`

[2017-08-30 21:54] shroomist commented on #85
ah sorry, i'll repost it there

[2017-09-03 18:40] daviddias opened #227 "Improve install and docs page"
Currently, the Website makes no reference to js-ipfs and therefore misses a ton of examples that were created.

I want to propose the following changes:

- Update sidebar to list:
  - Install steps for go-ipfs and js-ipfs
  - Examples for both implementations
  - rename API to HTTP-API
  - create Core-API
  - See Fig 1
- Add to the examples page all of these: https://github.com/ipfs/js-ipfs/tree/m

[2017-09-15 10:51] VictorBjelkholm commented on #220
@richsilv @alanshaw Hm, this seems to still be a issue. Currently, ipfs.io links to https://ipfs.io/bloghttps://ipfs.io/blog/30-js-ipfs-0-26/ which has a `https://ipfs.io/blog` too much. Version at time of writing this: QmPCawMTd7csXKf7QVr2B1QRDZxdPeWxtE4EpkDRYtJWty

[2017-09-15 10:51] VictorBjelkholm commented on #220
Also, just noticed that the IPFS version does not show any items under "IPFS Starlog" at all: https://ipfs.io/ipfs/QmPCawMTd7csXKf7QVr2B1QRDZxdPeWxtE4EpkDRYtJWty/

[2017-09-18 08:56] alanshaw commented on #220
@VictorBjelkholm https://github.com/ipfs/website/pull/229

[2017-09-23 08:03] stefek99 commented on #225
![image](https://user-images.githubusercontent.com/249703/30771358-14f96aec-a03e-11e7-8c1f-f4e55dea9c4c.png)

Link is broken, yup.

[2017-09-23 08:25] mechanista commented on #225
It appears that this has been fixed at some point. The validator says that the rss feed is valid and it works correctly for me in Firefox and Thunderbird.

[2017-09-23 11:47] stefek99 commented on #225
Not sure.

12 seconds video: https://www.youtube.com/watch?v=2lpT4s8XG08&feature=youtu.be

[2017-09-23 12:09] mechanista commented on #225
Ah. I didn't see that. My issue was specifically about using the rss feed with an rss reader and that works now. But now that the rss feed is correct apparently the feed as displayed on the front page of the website doesn't work anymore. So I'll reopen this.

The feed displayed on the front page must have worked before because the rss feed was broken. The urls for the links there are "/blog" follo

[2017-10-04 23:08] awnumar opened #231 "Dangerous HSTS Policy"
So basically you return the following header on both the HTTP and HTTPS variants of the website:

Couple of issues with this:

1. This should only be served on the HTTPS variant of the website.
2. The `max-age` is half of the recommended value.
3. **The HTTP site does not 301 redirect to the HTTPS site.**

That last point is critical. You're specifying a HSTS policy without redirecting users, and

[2017-10-05 07:29] lgierth commented on #231
Hey, thanks! We're aware of this and will be fixing it with an overhaul of the TLS setup very soon.

I think it's not dangerous though, in that it'd open up vulnerabilities that weren't there before.

Closing in favor of ipfs/infrastructure#305

[2017-10-05 07:30] #231 closed

[2017-11-06 16:40] flyingzumwalt opened #236 "Add a prominent reference to discuss.ipfs.io from the docs page(s)"
_(suggested by @drozdziak1 at https://discuss.ipfs.io/t/why-isnt-this-site-easily-accessible-from-the-main-page/1398)_

At the moment ipfs.io doesn't mention the forums at discuss.ipfs.io. We should add a link from the docs page, and possibly elsewhere, encouraging people to use those forums.

[2017-11-06 16:44] flyingzumwalt commented on #236
Make the info under "Community" on https://ipfs.io/docs/ match the info at https://github.com/ipfs/ipfs/blob/master/README.md#project-and-community -- most importantly, remove references to ipfs/faq and ipfs/support, which have been deprecated and redirected to discuss.ipfs.io

[2017-11-06 16:44] VictorBjelkholm commented on #236
We could just add a link in the top navbar otherwise, hard to make it easier to find than that.

![image](https://user-images.githubusercontent.com/459764/32452547-db6ca0ec-c2e7-11e7-860e-66ac08f3f524.png)

[2017-11-06 16:47] drozdziak1 commented on #236
@VictorBjelkholm That would be ideal, thanks guys

[2017-11-06 16:52] flyingzumwalt commented on #236
Yeah. Let's add it to the navbar too, but we should also update the Community section on the Docs page. It's got out of date info, pointing to deprecated repositories.

[2017-11-07 15:48] VictorBjelkholm commented on #227
Might be hard to actually implement unless we can compile the go-ipfs implementation to JS. Otherwise we would need to dynamically start daemons and it could probably be abused easily.

However, a sandbox for a js-ipfs daemon would be really nice, + can be used for reporting issues if we can allow people to save their code.

[2017-11-15 23:02] #220 closed

[2017-11-23 21:52] lgierth opened #242 "Prompt box for installing ipfs-companion"
The browser addon is in a state where it's safe to announce it on ipfs.io and get more users. We have plenty of free header space that we could use for a little box that prompts users to install ipfs-companion.

cc @diasdavid @olizilla @alanshaw

[2017-12-07 01:12] lgierth opened #244 "Battle for the Net widget on 12-Dec-2017"
The widget from the day of action in July is still included in the website (#214), we need to update it though.

See https://www.battleforthenet.com/breaktheinternet/#widgets

[2017-12-08 20:11] mechanista commented on #225
Looks like this issue has been solved.

[2017-12-08 20:11] #225 closed

[2017-12-27 13:33] renexdev commented on #85
Hi there, I've got the same error at the very begining when I ran the code given in the section "init the repo" from the documentation (https://gateway.ipfs.io/ipfs/QmeYYwD4y4DgVVdAzhT7wW5vrvmbKPQj8wcV2pAzjbj886/docs/getting-started/). May be you used that peer identity and not the given by your console output. Here was mine when you initialize ipfs:

[code]

[2018-01-11 03:32] lgierth commented on #244
This has been done (and widget removed in #247

[2018-01-11 03:32] #244 closed

[2018-02-01 02:32] leerspace commented on #126
It looks like all of the links in the footer are now relative.

[2018-02-01 06:00] Stebalien commented on #126
Correct.

[2018-02-01 06:00] #126 closed

[2018-02-13 14:51] skorokithakis opened #254 "Add an entry for www"
www.ipfs.io currently just fails, which is bad UX. It should at least redirect to ipfs.io.

[2018-02-13 15:05] magik6k commented on #254
@lgierth ^

[2018-02-13 15:08] VictorBjelkholm commented on #254
This was raised first in https://github.com/ipfs/infrastructure/issues/198 and then redirected to https://github.com/ipfs/go-ipfs-gateway/issues/7 as we're migrating the gateways into their own repository.

[2018-02-13 15:08] #254 closed

[2018-02-13 16:52] lgierth commented on #254
![citation needed](https://3.bp.blogspot.com/-bD0gt8dhFDQ/V1CocyP1evI/AAAAAAAAAkg/bc9-A7Wo7rkITQSqsUOmAPqYiHVSoMkqQCLcB/s1600/xkcd-citation_needed.png)

[2018-02-13 16:53] skorokithakis commented on #254
[code]

[2018-03-07 23:13] geeogi commented on #85
same here. Running daemon fixed it.

[2018-04-15 05:42] proehlen commented on #85
The [getting started guide](https://ipfs.io/docs/getting-started/) has the `ipfs cat` readme file step before the `ipfs daemon` command so it's a bit confusing.

[2018-05-25 13:07] artus opened #262 "Why so many identical jQuery files?"
**_This issue is part of [Epic 3A: Fixes from user feedback/other metrics](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++%22epic+3a%22+)._**

When traversing the examples, why are there so many copies of the jQuery.min.js file? Couldn't this be optimized by using a cdn to host the jQuery file?

[2018-06-07 18:51] kizerkizer commented on #85
ADD `ipfs daemon` TO THE GETTING STARTED GUIDE!!

[2018-06-07 19:33] Stebalien commented on #85
This should actually work without starting `ipfs daemon`. You only need to run `ipfs daemon` to fetch something from the network and we *ship* go-ipfs with these files. Unfortunately, we updated them and failed to update the guide (again).

Fix: https://github.com/ipfs/website/pull/263

[2018-07-02 08:48] rustyx commented on #85
@Stebalien On Windows it doesn't work without manually running `ipfw daemon`.

[2018-07-02 19:22] Stebalien commented on #85
@rustyx try initializing a new repo and *never* running the daemon. Does that work (still a bug but trying to narrow it down)?

Also, what error do you get and what version are you using?

[2018-07-02 20:10] rustyx commented on #85
@Stebalien I'm using version 0.4.16-rc1. It seems to be related to the [FAR](https://www.farmanager.com/download.php?l=en) file manager that I'm using, as I now tried it in a regular `cmd` window and it's working fine.

[2018-07-02 20:40] rustyx commented on #85
I know, weird right!?
![ipfs far issue](https://rustyx.org/temp/ipfs-far.png)

[2018-07-02 20:41] whyrusleeping commented on #85
@rustyx in your screenshot, youre running ipfs cat on a different hash than the one that init prints out

[2018-07-02 20:47] Stebalien commented on #85
Hm. Did my update to the website not get automatically deployed? He's using the old hash on the website but that should have been fixed in https://github.com/ipfs/website/pull/263. Are we not using CI to deploy?

[2018-07-02 20:52] rustyx commented on #85
Oh I see. I got the path from the [getting-started page](https://ipfs.io/docs/getting-started/), I guess that page is outdated?? The path starts working after starting the daemon, which added to my confusion.

[2018-07-02 21:01] whyrusleeping commented on #85
yep. things work when you start your daemon because it can then fetch it from people who ran init with earlier versions of ipfs. Definitely one of the more confusing parts of our 'getting started' docs... I'm in favor of replacing the hash with `<hash from your init output>` so people don't just copy it.

We could also add more automation to keep things up to date, but thats harder and more prone

[2018-07-09 12:15] xTibor opened #264 "Obsolete social media logos"
There are obsolete social media logos in the website footer.

**Google+**: [icon-social-google.svg](https://github.com/ipfs/website/blob/master/static/images/icon-social-google.svg)
Google started using uppercase G letters instead of lowercase ones for its branding.

**Twitter**: [icon-social-twitter.svg](https://github.com/ipfs/website/blob/master/static/images/icon-social-twitter.svg)
This looks

[2018-07-09 20:43] RichardLitt commented on #129
This is now done.

[2018-07-09 20:43] #129 closed

[2018-07-10 20:37] swedneck opened #265 "directory containing press/media resources"
I think it'd be handy if ipfs.io had a directory of "press resources", like this gitlab example: https://about.gitlab.com/press/

It'd be handy both as an alias for the hashes of logo files and such, and to help those writing articles/blog posts find the official files.

[2018-07-14 11:46] lidel commented on #223
There two bugs at play here.

**2)** does not happen anymore, but looks like a clash between gateway and dnslink redirect. I fixed similar edge cases in https://github.com/ipfs-shipyard/ipfs-companion/pull/518, fix will land in next release.

**3)** the problem is that blog is is a separate static website and current URL structure does not translate to dnslinks used.

If user is visiting https://i

[2018-08-03 20:10] Mithgol commented on #129
Currently it declares `<meta name="twitter:card" content="summary" />` and then `<meta name="twitter:image:src" content="https://ipfs.io/images/ipfs-logo.svg" />`.

However, currently https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary says, “SVG is not supported”.

[2018-08-03 20:23] RichardLitt commented on #129
Might be worth opening a new ticket for that.

For now, I'm unassigning myself.

[2018-08-20 22:36] Mr0grog opened #268 "Clean up or remove language around “versioning” and “version history” on home page"
After talking with @jbenet and @meiqimichelle, we’ve decided that the language around keeping track of “versions” on the home page can be ambiguous and confusing for a lot of readers. While IPFS can store every version of a file (because they’ll have different CIDs) and conceptualize files as versions of each other by virtue of sharing blocks, it doesn’t have any native system for describing the v

[2018-08-22 15:47] #268 closed

[2018-08-22 15:49] lgierth commented on #242
cc @lidel

[2018-08-22 19:00] lidel commented on #242
cc @fsdiogo

This depends on "offer" step in an OKR we have:

I feel if we have "offer" landing page, we could link to it from a small prompt that is displayed eg. when `window.ipfs` is missing.

[2018-08-24 15:35] fsdiogo commented on #242
Yes, it's a good idea to link directly to the (future) offer page 👍

[2018-08-24 18:54] Mr0grog opened #271 "Redirect `/docs` to `docs.ipfs.io`"
**Do not do this until ipfs/docs#115 is merged!**

The new docs site hosted at https://docs.ipfs.io (source in [ipfs/docs](https://github.com/ipfs/docs/issues/76)) used to depend on some example content from this website in the `/docs` directory (e.g. [the blocks example](https://ipfs.io/docs/examples/example-viewer/example#../data/readme.md)). In ipfs/docs#115, that dependency is removed! Once it

[2018-09-17 13:47] lidel commented on #271
I feel we need to bump priority of this.
Cloudflare uses old URL in their docs:
https://developers.cloudflare.com/distributed-web/ipfs-gateway/connecting-website/ (at the very end).

[2018-09-17 19:30] #271 closed

[2018-09-18 19:02] lidel commented on #184
So this happens when ipfs.io is loaded via IPNS:

![screenshot_26](https://user-images.githubusercontent.com/157609/45709847-4bb50880-bb85-11e8-92e2-9a3e7fab20b6.png)

:cheese:  :ok_hand:  :upside_down_face:

Jokes aside we probably should pick up the topic of `/blog/*` and perhaps do something similar to  `/docs/*` (#271)

cc https://github.com/ipfs/website/issues/223, https://github.com/ipfs/web

[2018-09-18 23:28] diasdavid commented on #184
@alanshaw @olizilla ^^^ ahahahah

[2018-10-03 19:38] theduke opened #273 "IPNS docs"
The documentation on IPNS is very sparse.

It doesn't explain how it works or how to use it.

Would be nice to get this improved.

[2018-10-04 14:34] da2x opened #274 "/blog/: “I should not appear in production”"
https://cloudflare-ipfs.com/ipns/ipfs.io/blog/

		{
				"posts" : [
				    {
				        "title" : "This is a placeholder",
				        "date" : "12 July 2017",
				        "url" : "http://placeholder.org/",
				        "author" : "Placey McHold"
				    },
				    {
				        "title" : "I should not appear in production",
				        "date" : "29 February 2017",
				        "url" : "http://dic

[2018-10-04 19:52] Stebalien commented on #274
Hm. It looks like a DNS issue.

[2018-10-04 20:03] lgierth commented on #274
No, it's that the website and the blog have historically been separate projects, and we never went and fixed that.

On ipfs.io, we let nginx rewrite ipfs.io/blog to blog.ipfs.io. /ipns/ipfs.io/blog has never worked.

[2018-10-04 20:06] lgierth commented on #274
Related: #184 #223

[2018-10-04 20:15] lidel commented on #274
I think we should do the same as we did in https://github.com/ipfs/website/pull/272 for  `/docs`

[2018-10-04 22:37] lgierth commented on #274
The website *might* need an update then for how it pulls in the blog post titles (frontpage "the latest").

I'd say go for it :) cc @olizilla

[2018-10-04 22:38] lgierth commented on #274
Another idea in the past was to merge the blog code into website, and only leave the posts markdown (and images) in the blog repo.

[2018-10-04 22:53] lidel commented on #273
This was fixed in https://github.com/ipfs/website/pull/272

I checked on my local node and `/ipns/ipfs.io/docs` now redirects to `/ipns/docs.ipfs.io`.
Perhaps you have older version cached?

[2018-10-05 00:08] lidel commented on #227
AFAIK this can be closed due to https://github.com/ipfs/website/pull/272
If something is missing at http://docs.ipfs.io  it should be tracked in https://github.com/ipfs/docs/

[2018-10-22 10:48] lidel commented on #265
Another great example:
- https://brave.com/brave-branding-assets/

[2018-11-01 20:12] lidel commented on #274
@kyledrake || @VictorBjelkholm: got a moment to merge the above PRs?

[2018-11-08 19:19] michaelmcandrew commented on #85
There is a note on https://docs.ipfs.io/introduction/usage/ that says:

I would argue that the above is key info and should not be in a 'pull out note'. (which to my mind suggested that it is content that can be skipped if you are in a hurry).

You could replace:

with:

For a better first experience with IPFS

[2018-12-03 19:38] olizilla opened #281 "Add apps and implementations sections"
We want to add informtion about our apps IPFS Companion and IPFS Desktop, and our implementations in go-ipfs and js-ipfs. There are some moves to do that in #280 and https://github.com/ipfs/docs/pull/136. To best show these things off we should give them their own sections and re-think the top navigation. Let's get focused!

<img width="1151" alt="screenshot 2018-12-03 at 16 59 11" src="https://us

[2018-12-03 19:39] olizilla commented on #281
@daviddias @lidel @Mr0grog  what do you think?
@fsdigog lets add  more thoughts here about the new sections for implementations and apps

[2018-12-04 14:06] fsdiogo commented on #281
I've made a little [mock in Figma](https://www.figma.com/file/RLVmj3C8fy84KrdaFLPuHbvX/ipfs.io?node-id=5%3A5) with the new section:

<img width="1441" alt="new-section" src="https://user-images.githubusercontent.com/33324750/49446834-ef997200-f7cc-11e8-9df4-29281fb37955.png">

What do you guys think?

I think we could put `Implementations` and `Apps` in the same section, between the `Why` and the

[2018-12-04 14:34] fsdiogo commented on #281
What I think we really need is a dedicated logo for `go-ipfs` and `js-ipfs` (we don't have none, right @akrych?). `Desktop` and `Companion` could benefit from having one too.

[2018-12-04 14:45] olizilla commented on #281
@fsdiogo in general, I like it.

- Please check the contrast of the text color for the text. http://accessible-colors.com/
- Try left aligning the text under the items.
- I section probably should come after the "IPFS aims to replace HTTP..."  chunk, as I think that statement makes more sense when it comes directly after the list of reasons in the why section.
- Could you try sketching out the hea

[2018-12-04 16:51] fsdiogo commented on #281
<img width="1371" alt="nav" src="https://user-images.githubusercontent.com/33324750/49458410-a8b77680-f7e4-11e8-82b3-c4f7bb9fd610.png">

- Took some of the links ideas from the first post by @olizilla
- I'm not a fan of the `Why` and `How`, but can't think of better words for that right now
	- This makes me think if those two sections should be together with `About` (I like it) and the `Implementa

[2018-12-05 11:56] olizilla commented on #281
@momack @mikeal I know you have [thoughts](https://github.com/ipfs/project/issues/14) about the ipfs.io website, so FYI, we're working on a related update so we can show better show off Companion, Desktop, go-ipfs and js.ipfs.io

[2018-12-05 20:04] mikeal commented on #281
@olizilla how we are defining the scope of what we feature in this section? It sounds like this is a very small subset of awesome-ipfs. Is the criteria "projects PL makes" or is the criteria a little broader like "applications that give people easier access to IPFS."

[2018-12-05 20:40] olizilla commented on #281
My goal for this pass was to do a better job of showing off IPFS Companion and IPFS Desktop. I'm all in favour of calling out great IPFS apps in general. Perhaps we could add a link to awesome-ipfs, like [see more](https://awesome.ipfs.io/) to link folks to more community endevours without overloading this section.

[2018-12-05 21:02] mikeal commented on #281
Totally, the only thing I'm worried about is additional requests to feature more projects which will eventually have the effect of **not** showing off Companion and Desktop very well :)

For now, I think it would be enough to say "We are featuring a curated selection of projects that make IPFS accessible to a broader audience."

Definitely!

[2018-12-05 21:59] lidel commented on #281
I am not sure if "apps" is the best label for that section.
What if we frame it not around "apps" but "integrations for specific environments"?

Another thing: we should emphasize IPFS is more than JS and golang.
There is a lot of client libraries for other languages, we could make a better job at showing them. It sends a clear signal "people are using IPFS with language X".

- "**Implementations*

[2018-12-05 22:20] olizilla commented on #281
Consider the new user experience. I think that would be too much detail for the home page. I think the go and js implementations get the spotlight for now.

We can link to a page in the docs site for a complete list and a features comparison.

[2018-12-06 15:38] fsdiogo commented on #281
First pass at https://github.com/ipfs/website/pull/282.

Can I get push permissions so I don't have to fork the repo in the future please?

[2018-12-11 04:00] doctorrobinson opened #283 "Update the media on https://ipfs.io/media/"
**_This issue is part of [Epic 3B: Fixes from legacy issue queue](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++%22epic+3b%22+)._**

I have a bunch of IPFS talks and presentations that will need a home.

What's the proper process for getting a playlist or youtube videos embedded on the site? Not having any development chops, is there a way I can do jump in and update t

[2018-12-11 17:45] terichadbourne opened #284 "Hotfix: (Accessibility) Need visual cues for focus for keyboard-only users"
When using the site with only a keyboard, there are no visual cues to the user that focus is changing to a new link, etc. Because Chrome displays the URL of links you are hovering over at the bottom left, I have some clues about where I am while tabbing, but we shouldn't expect a keyboard-only user to rely on these.

Whatever cue causes the links to change color for a mouse user (presumably an `on

[2019-01-09 14:45] #116 closed

[2019-01-10 09:48] yuvallanger opened #285 "Add a warning that ipfs is not anonymizing"
Please add a conspicuous warning on https://ipfs.io/ saying that ipfs alone is not anonymizing.

I don't know how many people, or if any at all, might get confused, but it's generally good to be on the safe side.

[2019-01-21 12:32] pkafei opened #286 "Announcing Community Syncs on IPFS Website"
At IPFS we want to ensure that the broader community is aware of our wg syncs. Our website ipfs.io gets a decent amount of traffic and it would be ideal for us to announce our open community meetings on the ipfs.io homepage.

I'm in the process of creating a tool where the organizer of a wg sync will fill out the details of their call (time, speaker, etc) and the info will be placed in an announce

[2019-01-21 13:08] olizilla commented on #283
@doctorrobinson the only way to jump in and help ship a change to the website today is by submitting a PR. I know that's a high bar for non-devs, but I'm happy to help. We could talk throught the change you want to make, and work on a PR together. We could also figure out a process that'd simplify future updates to the media section.

A simple fix might be to embed  a youtube playlist like "Highli

[2019-01-21 13:09] olizilla commented on #286
Happy to talk it through.

This relates to an issue that @daviddias brought up that is we need to show our Working Groups on the site too. I can't find that issue right now, @daviddias can you link?

[2019-01-21 14:21] pkafei commented on #286
@olizilla I think you might be referring to the note taking issue https://github.com/ipfs/team-mgmt/issues/493 and the sprint bot issue https://github.com/ipfs/team-mgmt/issues/730

Right now I have a version of a [sprint bot](https://github.com/ipfs/community-call-helper) that announces community syncs via Github Issues and I would like to add functionality where community sync organizers can ann

[2019-01-22 14:04] pkafei commented on #286
@alanshaw I've spent some time with the Hugo docs and pulling in data into ipfs.io via an api seems like the way to go. Initially, I'm going to pull from the Github API or Google API via [a call function with a URL ](https://gohugo.io/templates/data-templates/#call-the-functions-with-a-url). The announcement bar will be populated with the data from API.

Then I'll write a scheduled task that will

[2019-01-29 12:47] petscheit opened #287 "add warning that configuration with environment variables for cluster wont show in service.json"
As I learned today, when configuring the ipfs-cluster-service with environment variables not all changes will be written to service.json, while others are.
For example, when setting the CLUSTER_SECRET environment variable, the secret will be written to the service.json file. When setting other variables like CLUSTER_REPLICATIONFACTORMIN the changed will take affect, but wont be written to service.

[2019-01-29 14:15] #281 closed

[2019-01-29 15:05] #131 closed

[2019-01-29 15:05] #184 closed

[2019-01-29 15:05] #223 closed

[2019-01-29 15:05] #274 closed

[2019-02-13 09:02] #63 closed

[2019-02-13 09:02] #66 closed

[2019-02-13 09:02] #78 closed

[2019-02-14 22:24] pkafei commented on #283
@doctorrobinson Give me the list of videos and I will add them to https://ipfs.io/media

[2019-02-14 23:33] mikeal opened #292 "Prominent “help” link"
In our top links we call out docs but I’d like to see us also link to discuss.ipfs.io as a “help” link.

Often when developers land on a project page they are looking for the ideal place to ask questions. Right now, they’d have to find the link to “Community” on the bottom of the site and then find a link to discuss.ipfs.io, among several other resources.

I’d prefer to promote a “if you don’t kno

[2019-02-14 23:38] mikeal opened #293 "Combine “Install” and “Implementations”"
**_This issue is part of [Epic 3B: Fixes from legacy issue queue](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++%22epic+3b%22+)._**

If someone is new to IPFS and looking to use it presenting our install instructions separately from our “Implementations” seems rather confusing.

If I want to start using and experimenting with IPFS I will likely gravitate towards “Insta

[2019-02-14 23:43] mikeal commented on #292
Closing, this is actually already being discussed in
https://github.com/ipfs/website/pull/276

[2019-02-19 15:38] pkafei commented on #293
After the install instructions, there should be basic CLI commands to help the user get started with basic operations with IPFS (i.e. adding a file). For users who are not comfortable with the CLI interface we can also provide a link to IPFS Companion.

[2019-02-19 16:06] pkafei commented on #273
Should we close this issue?

[2019-02-19 16:11] pkafei commented on #265
Issue is discussed here https://github.com/protocol/design/issues/153

[2019-02-19 16:17] pkafei commented on #262
Or we could just delete Jquery from ipfs.io

[2019-02-19 16:25] pkafei commented on #242
The IPFS companion can be mentioned under the "Install Section" of ipfs.io for users who prefer to interact with IPFS via GUI. https://github.com/ipfs/website/issues/293

[2019-02-19 16:46] pkafei commented on #119
Related to issue https://github.com/ipfs/website/issues/293

[2019-02-19 16:47] swedneck commented on #265
@pkafei that link seems to be private

[2019-02-19 16:50] pkafei commented on #227
related to issue https://github.com/ipfs/website/issues/293

We will add basic instructions for both the JavaScript and Go API. Not sure what would be the best way to visually present both API's without confusing user.

[2019-02-19 16:55] pkafei commented on #110
This would be be useful information to include in the "Install" section. https://github.com/ipfs/website/issues/293

[2019-02-19 17:00] pkafei commented on #265
@swedneck It is- in that case I'll re-open the issue.

[2019-02-19 17:44] Stebalien commented on #273
Issue here: https://github.com/ipfs/docs/issues/90
Current docs: https://docs.ipfs.io/guides/concepts/ipns/

[2019-02-19 17:44] #273 closed

[2019-02-28 15:43] ericronne opened #295 "Increase color contrast for text links in info-bar alerts"
Text links in the light-blue information bars have a contrast ratio of about 2.1:1. For accessibility purposes, the background and/or link color should be adjusted to bring it up to a minimum of [4.5:1](https://www.boia.org/blog/the-basics-and-importance-of-color-contrast-for-web-accessibility).

![image](https://user-images.githubusercontent.com/9259185/53577209-de959e00-3b3a-11e9-9168-39f2d0ef89

[2019-02-28 17:32] ericronne commented on #295
![image](https://user-images.githubusercontent.com/9259185/53585797-5f10ca80-3b4c-11e9-9b8e-1c968e39519b.png)

@olizilla able to help, if i ask nicely? :)

[2019-03-14 14:37] pkafei commented on #293
`Ipfs.io/install` and `ipfs.io/docs` both link to https://docs.ipfs.io/.

![](https://res.cloudinary.com/blockchain-side-hustle/image/upload/v1552574030/docs_and_install_rtcrgu.png)

 It is redundant for the two links to go to IPFS Documentation. It would be better for [ipfs.io/docs](ipfs.io/docs) to link to the documentation and ipfs.io/install to link to the section above ipfs.io/implementations

[2019-03-19 11:40] #31 closed

[2019-03-19 11:41] #292 closed

[2019-03-19 11:42] pkafei commented on #52
@lgierth could you elaborate on what you mean by viewer and examples?

[2019-03-20 11:34] #295 closed

[2019-03-20 17:36] pkafei commented on #283
Researching a way to automate the retrieving of videos from Youtube. Looks like the best way to go about this is extend Hugo's Youtube shortcodes. The Hugo Youtube shortcode that comes out of the box can display one Youtube video, but we would like to display multiple videos.  https://gohugo.io/content-management/shortcodes/
https://gohugo.io/templates/shortcode-templates/

[2019-03-21 11:36] olizilla commented on #293
Yep, i agree with the main idea here... I think we need to have a blessed "single command" install process, so we can show the install process on the homepage, as per https://github.com/ipfs/website/pull/299#issuecomment-475193683

[2019-03-21 12:36] pkafei commented on #286
Do we want to include community sync times in Team info?
![](https://res.cloudinary.com/blockchain-side-hustle/image/upload/v1553171683/community_syncs_nkutq1.png)

[2019-03-21 12:52] daviddias commented on #286
Here is an idea. Given that the Sync's are weekly. What about putting them the WG list, so that it is easy to see when there is a sync of any WG. Like this:

<img width="1104" alt="image" src="https://user-images.githubusercontent.com/1211152/54753105-83f2dd80-4be0-11e9-8bd8-4ab9f46dfce2.png">

[2019-04-03 14:37] kishansagathiya opened #300 "Can't access `https://docs.ipfs.io/reference/api/commands/`"
Going to `https://docs.ipfs.io/reference/api/commands/` throws following error

[code]

[2019-04-03 14:46] kishansagathiya commented on #300
Seems like proper link is `https://docs.ipfs.io/reference/api/cli/`

In which case this link should be changed
![Screenshot from 2019-04-03 20-11-10](https://user-images.githubusercontent.com/10185999/55488252-516bca80-564d-11e9-962f-f2a060340d0e.png)

[2019-04-09 22:14] Stebalien commented on #300
Thanks. Fix here: https://github.com/ipfs/website/issues/300

[2019-04-10 08:08] #300 closed

[2019-04-17 09:31] hsanjuan commented on #236
Bumping this. We should have a prominent `HOW TO GET HELP` item that send people to discuss. While there is extensive documentation on how to contribute and help others, there is no reference to how actually get help from others.

[2019-04-18 08:30] olizilla opened #302 "Horizontal scrollbar on homepage"
After we introduced the camp banner there is now a horizontal scrollbar on the homepage which shouldn't be there.

<img width="1355" alt="Screenshot 2019-04-18 at 09 27 02" src="https://user-images.githubusercontent.com/58871/56347625-9864ce80-61bc-11e9-82f4-d93ee5cd3ecc.png">

[2019-04-18 08:30] olizilla commented on #302
@cwaring can you talk a look pls?

[2019-04-18 09:52] cwaring commented on #302
no problem, is this in the friendly fox browser? I can't see the same issue in v66.0.3.

![Firefox 2019-04-18 at 10 52 24](https://user-images.githubusercontent.com/106938/56352883-11b5ee80-61c8-11e9-9e5e-a4659af3d780.png)

[2019-04-18 13:30] jesobreira opened #303 "Unable to access any IPFS link through the official node"
I am unable to access any IPFS file on the ipfs.io/ipfs node.

Not only links that I've created, but any link I find on the internet. It gets loading forever and never finishes.

However, the JS-IPFS site at js.ipfs.io/ipfs works very well. Also, running a local node and getting these files with "ipfs get" works too.

Is someone else having this issue as well?

[2019-04-18 13:48] fsdiogo commented on #303
I'm not having that issue.

Can you try https://ipfs.io/ipfs/QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG/about and see the result?

PS: `ipfs.io/ipfs` uses the public gateway, https://github.com/ipfs/infra would likely be more appropriate for this issue.

[2019-05-14 17:44] jessicaschilling opened #305 ""Media" link in footer is duplicated"
The first one should actually be "Team"?
<img width="106" alt="image" src="https://user-images.githubusercontent.com/1507828/57719753-70974800-764e-11e9-9bb3-887500fb24be.png">

[2019-05-14 17:45] jessicaschilling commented on #264
... and actually, since G+ is dead, can this please just be removed entirely?

[2019-05-14 19:41] jessicaschilling opened #307 "Flesh out IPFS documentation community page and link to it from ipfs.io footer"
**_This issue is part of [Epic 3B: Fixes from legacy issue queue](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++%22epic+3b%22+)._**

Problem: It's tough to know where one can discuss different aspects of IPFS, either synchronously or asynchronously.

Suggested solution:

1. Right now the footer link to "Community" on ipfs.io links to
https://docs.ipfs.io/#community --

[2019-05-14 19:54] jessicaschilling commented on #307
FYI, @meiqimichelle 😄

[2019-05-15 08:45] #236 closed

[2019-05-16 09:30] #305 closed

[2019-05-16 09:33] daviddias opened #309 "Link to the other websites that are part of the IPFS Ecosystem"
Just going through the Website today, I realized how hard it must be to find some of the sites in the IPFS ecosystem, for example:

- https://awesome.ipfs.io
- https://cluster.ipfs.io

And sister projects as well:

- https://libp2p.io
- https://ipld.io
- https://proto.school

👍 to adding these?

[2019-05-16 18:52] meiqimichelle commented on #13
This may also work (haven't tried it, just happened to see it): https://github.com/peaceiris/actions-hugo-link-check

[2019-05-16 21:23] meiqimichelle commented on #227
While we may add some of the ideas raised here to an install section on the homepage (as per #299), the issues originally raised in this, erm, issue were obviated by #272 (our documentation looks and behaves entirely differently than when @daviddias originally suggested these changes). Closing.

[2019-05-16 21:23] #227 closed

[2019-05-28 09:55] fsdiogo commented on #264
This was fixed in https://github.com/ipfs/website/pull/312.

[2019-05-28 09:55] #264 closed

[2019-06-05 03:27] xTibor commented on #264
I just noticed, the blog will also require these changes.

[2019-07-08 18:07] lidel commented on #283
We could expose latest content from https://www.youtube.com/c/IPFS-dweb/videos to showcase how active project groups are and/or provide links to [existing playlists](https://www.youtube.com/c/IPFS-dweb/playlists).

If youtube exposes feeds as JSON, it should be possible to fetch JSON during the build time to ensure content is always there, and then run JS on the client that updates it if possible.

[2019-07-10 15:44] meiqimichelle opened #316 "Quickfix: add link to Cluster from homepage"
As a quick addition to the homepage while we're working overhauling doc/paths to learning about IPFS, it would fit right in as a new line in this section of the site:

<img width="400" alt="Screenshot 2019-07-10 08 42 21" src="https://user-images.githubusercontent.com/4827522/60983369-a70bdf00-a2ee-11e9-94ed-16dfb684bbd6.png">

What could a new title be? @jessicaschilling suggested `At scale` . @o

[2019-07-10 16:34] jessicaschilling commented on #316
![image](https://user-images.githubusercontent.com/1507828/60987059-10dfb500-a2fe-11e9-8dde-77c92f1c6d3d.png)

Quick-and-dirty mockup using inspect-element. Quick-and-dirty text:
**IPFS Cluster**
Ideal for large-scale datasets (XXGB and up) or multiple servers, IPFS Cluster allocates, replicates and tracks your data as pinsets across multiple IPFS nodes. It's both a standalone application and a CL

[2019-07-10 17:19] olizilla commented on #316
that looks good, but I think we should be shifting the focus more to:
- want ipfs in your browser: install companion
- want ipfs on your desktop: install desktop!
- want ipfs on your server: install cluster

I think we should nudge folks to cluster for general "i want to run a server" use case. A cluster of 1 is the perfect way to start your IPFS on server adventure.

[2019-07-10 17:21] jessicaschilling commented on #316
@olizilla agreed! And I think we'll get there as part of the larger docs effort in the near-ish term ... this was more of a "get cluster in there ASAP" fix. But I'll let you and @meiqimichelle talk over whether we want to turn this into something bigger rite nao.

[2019-07-11 17:43] jessicaschilling commented on #316
This gets addressed in #317 ... closing this issue.

[2019-07-11 17:43] #316 closed

[2019-07-31 18:32] ericronne opened #320 "Hotfix: Relabel "The Latest" section on the home page"
The section titled "The Latest" on the home page of [ipfs.io](https://ipfs.io/) contains material that's as much as four years old.
![image](https://user-images.githubusercontent.com/9259185/62237150-15940800-b396-11e9-9727-545ac93e5d2c.png)

Change to something more fitting, to tide us over until we can address this section (and the entire site!) more thoroughly.

[2019-07-31 18:45] jessicaschilling commented on #320
I know it's not super-meaty content, but the IPFS Camp video is gorgeous, exciting and deserves some love. Maybe that can be one of the videos?

[2019-07-31 19:10] ericronne commented on #320
Testify! It is amazing. Could that be a sep issue/pr, though, in order to keep this a slam dunk? I only opened this because i believe the quiz (#205) on the home page will be adjacent to this section, its title is patently inaccurate, and it's a very quick fix.

[2019-07-31 19:27] jessicaschilling commented on #320
Totally. Doo eet. Was just thinking out loud. 😄

[2019-08-01 14:41] #320 closed

[2019-08-05 10:52] #302 closed

[2019-08-05 10:59] cwaring commented on #293
Great to stumble across these notes, I discovered the same problem when evaluating the homepage flow recently. This is being addressed in ipfs/docs#205 and will be launching 🔜

[2019-08-07 11:52] andrasfuchs commented on #303
I have the same issue with Firefox 68.0.1.

The link I found and I'd like to open is:
https://ipfs.io/ipns/QmVBXiF9uWoWiUDAqnRbjCYCALZhXmFCwDFzdf65W3b9KH

I also checked the [Public IPFS Gateway list](https://ipfs.github.io/public-gateway-checker/) and [another collection](https://gateway.ipfs.io/ipfs/QmXHzertynCrRi9A99JH1fbxLATtGCaU4L3gkLo6ov9JEW/), and tried a few of them.

I've just found out t

[2019-08-07 13:27] hsanjuan commented on #303
It worked for me after waiting a bit. ipns resolution is slow...

[2019-08-19 19:24] ericronne opened #324 "(moot: changed repos) Set up remote usability testing and pilot on home-pg quiz"
A quick round of usability tests on the home-page [quiz](https://github.com/ipfs/website/pull/323) might surface some actionable feedback, to modify the feature and improve the odds of getting clear and meaningful results from the quiz initiative as a whole. It would great to engage a service soon, to have this capability on tap. The dreaded "guerilla" method may be required in this case, though,

[2019-08-19 19:26] ericronne commented on #324
cc @terichadbourne @alanshaw

[2019-08-19 19:33] ericronne commented on #324
OBE
See https://github.com/ipfs/docs/issues/247

[2019-08-19 19:33] #324 closed

[2019-08-26 16:22] djdv opened #325 "Hotfix: Team coordination links are broken"
https://ipfs.io/team/#js-core
https://github.com/ipfs/pm/blob/master/JS_CORE_DEV_MGMT.md
https://ipfs.io/team/#go-core
https://github.com/ipfs/pm/blob/master/GOLANG_CORE_DEV_MGMT.md

~~Maybe best to point them to https://github.com/ipfs/project-operations
Reference: https://github.com/ipfs/team-mgmt/blob/master/TEAMS_ROLES_STRUCTURES.md#working-groups~~
Maybe best to point them at the project repo

[2019-08-27 12:57] olizilla commented on #283
How about a playlist for the home page, and the first item on the media page, followed by direct links to the videos. Anyone with youtube access can keep the playlist regularlt updated, and we can upate the media page by PR as folks feel it is needed. Ideally we'd have both be up to date all the time, but i think a playlist takes the pressure off if we do slip.

[2019-08-27 14:21] hsanjuan commented on #303
yes

[2019-08-27 16:20] lidel opened #328 "Missing robots.txt"
@andrew noted that https://ipfs.io/robots.txt is missing

We may want to add it and exclude things like `/ipns/*.wikipedia.org/` from being crawled/cached by search engines, among other things.

[2019-08-27 18:38] andrew commented on #328
It might be a con or it might be a pro, but that'll drop a lot of traffic to the gateways that come from search: https://www.alexa.com/siteinfo/ipfs.io

[2019-08-27 22:10] #325 closed, assigned to jessicaschilling

[2019-08-28 07:56] lithic opened #332 "remove Google analytics from ipfs.io"

[2019-08-28 13:44] cwaring commented on #13
It would be great to have this at CI level for immediate alerts, however now that we have Google Search Console enabled we _should_ receive alerts for any 404s which will also help us take appropriate care with any inbound redirects that we may have missed.

A blend of the two methods would be ideal for full coverage but I'm confident that the GSC provides robust coverage for now - especially if w

[2019-08-29 19:06] #284 closed

[2019-08-31 18:59] lithic commented on #332
@ipfs response

[2019-09-01 07:01] lithic commented on #332
@Stebalien response

[2019-09-01 10:23] MatthewSteeples commented on #332
@lithic You're more likely to get a response if you explain _why_ you think this is a good idea and _how_ it will benefit the project. At the moment all you've done is issue a demand, and as this is an open source project the maintainers (of which I am _not_ one) have no obligation to follow it. They obviously added Google Analytics for a reason at some point, so you may want to take that into con

[2019-09-01 10:49] lithic commented on #332
@MatthewSteeples   we Don't want to be tracked by Google while browsing a free software's website.

[2019-09-01 10:52] lithic commented on #332
@MatthewSteeples
Fathom and Matomo.
https://github.com/matomo-org/matomo
https://github.com/usefathom/fathom

[2019-09-02 15:06] cwaring commented on #332
Hi @lithic, we currently using GA to optimise a few experiments that we are running in order to improve our content and require the advanced segmentation + events flow views to achieve this successfully.

I have deployed a patch to respect your [browser DNT rules](https://allaboutdnt.com/), which I feel should fulfil this request. Once enabled will be excluded from all of our measurements.

[2019-09-02 15:06] #332 closed

[2019-09-08 09:26] spudwa commented on #85
ait@ipfsTest:~$ ipfs daemon&
[1] 22369
ait@ipfsTest:~$ Initializing daemon...
go-ipfs version: 0.4.22-
Repo version: 7
System version: amd64/linux
Golang version: go1.12.7
Swarm listening on /ip4/10.0.0.5/tcp/4001
Swarm listening on /ip4/127.0.0.1/tcp/4001
Swarm listening on /ip6/::1/tcp/4001
Swarm listening on /p2p-circuit
Swarm announcing /ip4/127.0.0.1/tcp/4001
Swarm announcing /ip6/::1/tcp/400

[2019-09-09 15:14] Stebalien commented on #85
The content changes every so often. The new hash should be /ipfs/QmS4ustL54uo8FzR9455qaxZwuMiUhyvMcX9Ba8nUH4uVv.

Take a look at the message produced by `ipfs init`.

[2019-09-16 22:58] autonome opened #338 "Too many clicks to download IPFS"
"In 2017, to get from ipfs.io to the ‘Download’ button, it took 4 clicks through redundant pages. This number has been reduced to 3." - https://macwright.org/2019/06/08/ipfs-again.html

[2019-09-16 23:00] autonome opened #339 "Make references Mac OS consistent"
"But the inconsistencies remain: macOS is referred to as darwin in one place, OS X in another, Mac OS X in another." - https://macwright.org/2019/06/08/ipfs-again.html

Let's start with a search through the docs and website repos, and fix references for consistency.

[2019-09-16 23:02] autonome opened #340 "Hotfix: Link to IPFS Desktop is broken"
"the IPFS desktop app is included in the installation instructions, but the link to it is broken" - https://macwright.org/2019/06/08/ipfs-again.html

Might need to poke around to figure out exactly where he's referring to.

[2019-09-17 16:33] ericronne commented on #110
How can we get these figures for various installs, so that we have the content ready to plug into the install page upon its revamp? @olizilla?

[2019-09-17 16:48] olizilla commented on #338
Would be rad to see "ipfs desktop" pushed as the way to get started with ipfs as discussed in https://github.com/ipfs/docs/issues/188

...and if the user is determined to just use the command line tool only, point them to all of the popular package managers that they can use to install `ipfs` as in https://github.com/ipfs/website/pull/299#issuecomment-475694596

[2019-09-17 16:52] jessicaschilling commented on #338
This is probably going to get rolled into [ipfs/docs/#188](https://github.com/ipfs/docs/issues/188), but leaving it as its own issue for now for purposes of discussion.

[2019-09-17 16:58] jessicaschilling commented on #339
@dietrich Good call. And does anyone say "Darwin" in the field any more?

[2019-09-17 17:10] jessicaschilling commented on #340
@autonome - I'm having a hard time finding what he might be referring to ... I have a sneaking suspicion that it may have been a gateway resolution issue?

[2019-09-18 00:24] autonome commented on #339
We should probably just consistently use the current name, macOS. Anyone who knows what "Darwin" means will likely know what "macOS" means.

https://en.wikipedia.org/wiki/MacOS

[2019-09-18 00:29] autonome commented on #340
I cannot find a broken link. This was likely fixed already.

None of our links currently point to URLs to download *from* IPFS (they're all links to Github), so can't be a gateway issue unless those links changed.

[2019-09-18 00:29] #340 closed

[2019-09-19 20:10] jessicaschilling commented on #283
@doctorrobinson -- just checking in with you on this one, now that camp content is beautifully live!

[2019-09-19 21:56] doctorrobinson commented on #283
Let me get something on the calendar with @cwaring and we can make moves on this!

[2019-09-23 10:53] cwaring commented on #283
@doctorrobinson sure thing, will we cover this in the brightcove meeting or do you want to schedule something separate?

[2019-09-23 20:34] doctorrobinson commented on #283
Sure will!

On Mon, Sep 23, 2019 at 6:53 AM Chris Waring <notifications@github.com>
wrote:

[2019-09-24 19:29] jessicaschilling commented on #339
The biggest culprit in this is the main distros page https://dist.ipfs.io -- as described in https://github.com/ipfs/distributions/issues/235 -- but I've put in a request to @Stebalien and @dignifiedquire to follow up on that front.

[2019-09-24 20:06] jessicaschilling commented on #339
Searched code in both website and docs repos for "darwin", "mac", "osx" and "os x" and standardized to "macOS" accordingly; see https://github.com/ipfs/website/pull/341 and https://github.com/ipfs/docs/pull/280 , which I'll merge. Still want to get the distros page fixed before closing this issue, though ... marking as blocked in the interim.

[2019-09-25 17:59] #309 closed

[2019-09-25 20:55] jessicaschilling commented on #339
https://github.com/ipfs/distributions/issues/235 closed and fixes the distros page, so closing this issue. Thanks all!

[2019-09-25 20:55] #339 closed

[2019-10-12 23:12] Mikaela opened #345 "Wikipedia still appears in search results, but "We would like to show you a description here but the site won't allow us.""
I was wondering whether there have been conflicts between IPFS and Privacy Badger and as I didn't see anything on PB issue tracker, I turned to a search engine and met this sight:

![kuva](https://user-images.githubusercontent.com/831184/66708716-be2ef280-ed5d-11e9-868e-b4cf9b708031.png)

*https://duckduckgo.com/?q=privacy+badger+ipfs

Opening it I saw that it's from Wikipedia and checking robots.

[2019-10-13 06:10] Mikaela commented on #345
Sorry for opening this, with more sleep I think this is invalid.

1. Something links to the PB page in IPFS Wikipedia
2. I search for IPFS PrivacyBadger
3. DDG offers likely result with ipfs in domain, directory and privacybadger in filename

[2019-10-13 06:10] #345 closed

[2019-10-21 15:58] daviddias commented on #285
We've just finished documenting the [IPFS Open Problem: Preserve full users' privacy when providing and fetching Content](https://github.com/ipfs/research/blob/master/OPEN_PROBLEMS/PRESERVE_USER_PRIVACY.md)

[2019-10-21 16:07] jessicaschilling commented on #285
Awesome - let's build this discussion into whatever artifact we build to address this on the site!

[2019-10-21 16:11] lidel commented on #285
@jessicaschilling not sure how useful this is, but [IPFS Companion's Privacy Policy](https://github.com/ipfs-shipyard/ipfs-companion/blob/master/docs/privacy-policy.md) tries to warn users about lack of anonymity by listing what type of data is shared or can be logged by other peers.

[2019-10-21 18:54] jessicaschilling commented on #285
@lidel It's SUPER useful. 🙏

[2019-10-22 22:36] jessicaschilling commented on #307
This issue gets fixed in two PRs:
https://github.com/ipfs/website/pull/347
https://github.com/ipfs/docs/pull/357
Both have been assigned to @ericronne for review 😊

One note: This leaves the IRC link at the bottom because that's Hugo's annoying auto-generated menu thing. Didn't dig deep into working around this, since it'll be a moot point in a few weeks in the new site.

[2019-10-25 18:00] #307 closed

[2019-11-01 19:26] jessicaschilling commented on #110
@olizilla - may I please ping you on this one? We're reworking the install page and it would be great to include this info.

Essentially:
- How much space does a new installation of IPFS itself from the command line take? (Vs IPFS Desktop, too.)
- How much drive space should a user anticipate "giving" to IPFS? Or rather -- how can a new user wrap their head around how their usage of IPFS may impac

[2019-11-06 22:29] jessicaschilling commented on #293
@cwaring @ericronne @mikeal @olizilla -- I've taken an initial bash at this in https://github.com/ipfs/website/pull/348. Wanted to get others' thoughts before proceeding too much further.

- Revises implementations section to a single install section that links directly out to install pages/info pages for different options
- Recommends Desktop if the user isn't sure what to do
- Adjusts site heade

[2019-11-14 16:05] jessicaschilling commented on #283
This issue will be closed by https://github.com/ipfs/website/pull/349 ...

[2019-11-15 16:53] #283 closed

[2019-11-15 22:03] jessicaschilling commented on #293
Closed via #348 - we can amend if anyone finds a need. Blog knock-on effects fixed in /ipfs/blog issue 329. Thanks!

[2019-11-15 22:03] #293 closed

[2019-11-18 12:23] daviddias opened #350 "go-ipfs icon is not aligned / same size as the others"
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/1211152/69052135-d385e500-09cb-11ea-9bb5-aecc054c1ac1.png">

Not sure if a lapse or intentional. Nevertheless, can we have all of them of the same size and aligned? (My OCD self is twitching a lot 😅)

[2019-11-19 23:16] jessicaschilling commented on #350
@david - thanks for pointing this out. The images themselves are all the same size pixel-wise, so I'll need to dig a little to figure out what's up. (@cwaring might have thoughts too ...) I'm OOO for a few days but will have a closer look when I get back.

[2019-11-25 19:20] jessicaschilling commented on #350
Update: Text for Go implementation was longer enough than the other blurbs that flexbox "kindly" sized down the icon. Trimmed a bit off the text in #351

[2019-11-25 19:20] #350 closed

[2019-11-26 21:01] jessicaschilling opened #352 "[NEW CONTENT] [BOUNTY] History of the IPFS Project"
## This issue has a bounty!
Successfully closing this issue by producing a production-ready piece of documentation can earn you not only the undying love of the IPFS community — it can net you a financial reward. [See the current list of bounty issues and their values here.](https://github.com/ipfs/devgrants/projects/1)

## The need in brief
A brief but interesting history of the IPFS Project. Ins

[2019-12-01 04:29] momack2 commented on #352
@daviddias and @whyrusleeping would be best for this IMHO. Could be a fun creative writing effort over the holidays!

[2019-12-16 20:30] jessicaschilling commented on #262
Closing this issue, since we're discussing reworking the IPFS website as a whole in the near future.

[2019-12-16 20:30] #262 closed

[2019-12-16 22:00] jessicaschilling commented on #338
Closing this issue on the understanding that it's not perfect yet, but that we've streamlined the process of helping the user decide which flavor of IPFS they might like to download, and sending them directly to that flavor's appropriate page. We'll also be doing some further work along these lines in https://github.com/ipfs/docs/issues/188.
![image](https://user-images.githubusercontent.com/15078

[2019-12-16 22:00] #338 closed

[2020-01-21 15:57] Stebalien opened #357 "Audit and updates teams section"
* We now have a content routing group.
* Several of these sections are likely out of date.

We also need to find a way to keep these sections up to date but that's a harder problem.

[2020-01-22 08:08] momack2 commented on #357
I just made a PR to “team structures” - but seems like this needs to be separately updated to match? I’ll take assignment but if anyone wants to align the two would appreciate the PR.

[2020-01-22 15:54] jessicaschilling commented on #357
@momack2 If you let me know when you feel it’s in a done state I can duplicate the website to reflect.

[2020-01-22 18:31] jessicaschilling commented on #357
ETA: I'm keeping an eye on https://github.com/ipfs/team-mgmt/pull/1110 ... once that's merged I'll update the website accordingly.

[2020-02-04 18:35] jessicaschilling commented on #357
Closed by https://github.com/ipfs/website/pull/360

[2020-02-04 18:35] #357 closed

[2020-03-06 20:13] gravenp commented on #352
@jessicaschilling Looks like Johnny isn't part of this repo yet, but as we discussed, I'd love to take this one on. Thanks!

[2020-03-06 20:23] jessicaschilling commented on #352
@gravenp - assigned to you!

[2020-03-09 17:53] johnnymatthews commented on #352
Thanks for jumping on this one @gravenp! If you run into anything or have questions just ask them in here.

[2020-03-21 19:51] gravenp commented on #352
@johnnymatthews I have a working draft here: https://github.com/gravenp/ipfs-docs-v2/commit/74efb25a6bbfd55ce279c2b555a078b2495d5929

- The intro builds up the founding story. Let me know what you think of the tone and length. I leaned into the feature-story style and the p2p summer/winter analogy Juan has used in a few old podcasts. The Game of Thrones reference might be a bit too cheeky...
- The

[2020-03-23 18:15] johnnymatthews commented on #352
This is a great first draft @gravenp! I've pinged a couple of folks within IPFS to see if they can set aside some time to have a chat with you. Should hear back shortly.

[2020-03-31 02:36] momack2 opened #368 ""New Release" Banner"
When the 0.5 release goes out, we'd like to direct folks entering our website to the appropriate new information for them. This could be:
1.  to read the latest blog post describing the changes
2. to read the docs "what's new in this release" page & FAQs
3. to install go-ipfs 0.5 and get started

This means we need some sort of banner CTA on the ipfs.io website that will support up to 3 different

[2020-03-31 17:47] jessicaschilling commented on #368
@momack2 -- please see https://github.com/ipfs/website/pull/369 for implementation (shortcut to preview [here](https://bafybeiagbvyxsyuwgeah25s7jljq3yteswnamtiadzorepuuoqnhbocczm.ipfs.dweb.link/)).

- Uses art from https://github.com/protocol/design-shop/issues/281#issuecomment-603723771 at non-mobile widths
- If we go with this approach, would appreciate @cwaring's eyes on whether it's possible t

[2020-03-31 20:42] momack2 commented on #368
This is amazing! @cwaring - would love your eyes on any suggestions to avoid the horizontal overlap or make the title string a little more responsive.

[2020-04-04 16:53] cwaring commented on #368
@momack2 np, I'll add this to my todos for next week.

[2020-04-06 16:47] gravenp commented on #352
@johnnymatthews Any feedback or availability to chat from within the team? Thanks!

[2020-04-06 17:40] johnnymatthews commented on #352
Hi @gravenp, really sorry for the delay in getting back to you. I just emailed some instructions over to you.

[2020-04-28 17:08] cwaring commented on #368
A little late to the party but I'll have this ready the release today 🥳

[2020-04-28 18:58] #368 closed

[2020-05-05 20:14] renrutnnej opened #375 "Add CTA to signup for IPFS Newsletter"
We should prompt visitors to join the weekly newsletters so we can keep them up to date on project and community news.

I can provide an embed or integration via Mailchimp.

[2020-05-17 11:39] chrishobcroft opened #377 ""Get IPFS Desktop" button on ipfs.io returns a 404"
## Summary of issue

The "Get IPFS Desktop" button, in the "Install" section of IPFS Homepage, links to a dead link, and returns a 404.

## Steps to reproduce

1. Load up [IPFS Homepage](https://ipfs.io) in a browser

![Screenshot from 2020-05-17 16-54-00](https://user-images.githubusercontent.com/2212651/82143116-116ea380-985f-11ea-926c-105ac920366a.png)

2. Click "Install"

![Screenshot from 202

[2020-05-17 11:56] chrishobcroft commented on #377
Here is pull request for fixing this: https://github.com/ipfs/website/pull/378

Blame @jessicaschilling for [committing this broken link here](https://github.com/ipfs/website/commit/466ce9d82d54f44378fdf7993797b5c88ea0e7ea#diff-7732a2d6c0a914e3213de559a8a20127R21).

But it's OK Jessica, typos are easy to do.

I'm relieved that it only took 8 days to test, find and fix this :)

Donations accepted i

[2020-05-17 13:14] jessicaschilling commented on #377
Closed by #378.

It’s a bit difficult to discern whether the sarcasm is gentle or biting, but in any case, the fix is appreciated.

(FWIW, been faced with a family emergency the last two weeks, though not wishing to make excuses.)

[2020-05-17 13:14] #377 closed

[2020-05-17 13:26] chrishobcroft commented on #377
It's definitely gentle, with the proliferation of `:)` symbols.

Happy to help, I love IPFS :) and thank you for merging it, I can now install IPFS Desktop more easily on my newly installed `Ubuntu 20.04 LTS` :)

Nice to meet you @jessicaschilling and I hope the family emergency is resolved. All the very best!

[2020-05-20 18:36] renrutnnej commented on #375
Bumping this again.

[2020-05-21 18:20] momack2 commented on #375
This is a good idea. Could maybe use the callout CSS that @jessicaschilling made to promo on the main page - and then link to a new page where folks can configure their subscription (subscribe/unsubscribe)?

There's already a link for the RSS on the blog page, could also add a pop-up or page expansion on mouse-off to suggest folks sign up for the newsletter. @cwaring or @rafaelramalho19 might have

[2020-05-21 18:27] jessicaschilling commented on #375
The header callout is pretty big and splashy -- it might be best to keep that reserved for major news/releases rather than something we want to have live more permanently on the site.

We could add a similar mini-section to the "who's using IPFS" content:
![image](https://user-images.githubusercontent.com/1507828/82592509-44b27a80-9b5e-11ea-9446-89890ba98bc8.png)

The button could go to the Mailch

[2020-05-22 12:30] rafaelramalho19 commented on #375
Thanks for asking for my ideas @momack2 😄

I like Jessica's suggestion, and we could add some animations to call the attention of the user to that specific area, here's a rough example (made in 5 minutes so don't expect much 😅)

https://codepen.io/rafaelramalho19/pen/NWGoJbo

Video showing this:
https://dl.dropboxusercontent.com/s/esyrsksakebeqad/XjQCJ3Qmry.mp4

[2020-05-24 01:46] mortezaalizadeh66 commented on #303
I  had this problem, but now it works, check this link:
https://github.com/mortezaalizadeh66/IPFS-Solution/issues/1

good luck

[2020-05-27 14:28] jessicaschilling commented on #375
@renrutnnej -- For the sake of keeping this rolling (we can add something splashier later), please see https://github.com/ipfs/website/pull/380 - thanks!

[2020-05-27 14:45] renrutnnej commented on #375
@jessicaschilling this works for me! Thank you. Also I can't merge to the website repo for some reason, but I'll +1 over there too

[2020-05-27 14:47] #375 closed

[2020-06-10 21:17] RubenKelevra opened #383 "init: systemd info is out of date"
The [init example](https://github.com/ipfs/website/tree/master/static/docs/examples/init#systemd) for systemd is out of date, since we added `Type=notify` support with 0.5.0.

There were some additionally improvements to the systemd support. So those changes should be added as well.

Running ipfs as a user (is in my opinion) discouraged, and it should be run as a system service with hardening opti

[2020-06-15 19:41] #383 closed

[2020-06-23 21:01] jessicaschilling commented on #352
Hi both -- just wondering about the current status of this? Thanks!

[2020-06-23 21:10] gravenp commented on #352
Hi @jessicaschilling, I had my call at the end of May with Why to provide the historical context needed to round this out. Unfortunately, the timeline on this extended into other commitments that I had. I probably won't be able to get back to this until mid-July. If someone else wants to take the torch (or restart), I'm fine with that too.

[2020-06-23 21:24] jessicaschilling commented on #352
@gravenp You've already done a ton of work on this -- if you feel good about hitting it in July we can hang on until then. 😊

[2020-06-30 17:33] renrutnnej opened #389 "[CONTENT] Add CTA to subscribe to IPFS YouTube"
I know we don’t have an in-depth media section, but I think it would be useful, maybe in our docs too, to direct folks to learn more by subscribing to our YouTube channel.

Here's the link to the channel:
https://www.youtube.com/channel/UCdjsUXJ3QawK4O5L1kqqsew

[2020-06-30 17:35] jessicaschilling commented on #389
@renrutnnej Can you please open a separate issue in docs? I can take care of this on the website.

[2020-06-30 17:37] renrutnnej commented on #389
Absolutely! It didn't occur to me to add it to docs until I was typing this out, lol

[2020-06-30 20:05] #389 closed

[2020-07-26 17:58] gravenp commented on #352
@jessicaschilling @johnnymatthews I completed a draft that now includes all the info I gathered from my interview with Why https://github.com/gravenp/ipfs-docs-v2/commit/87bb1087bd99409e20238c2e2c86ff7fb05f45f34.

-This draft could use some more polish on the conclusion, but I wanted to get it out for general feedback (length, style, etc.). I'll do another turn this coming week and can incorporate

[2020-07-27 15:59] johnnymatthews commented on #352
This is excellent writing and really fun to read! Nice work @gravenp! I like your style, and the length is good. @whyrusleeping and @daviddias might have some thoughts.

[2020-07-27 16:48] jessicaschilling commented on #352
@gravenp, this is great -- I learned a lot of things! 😊 I'll leave it to you and @johnnymatthews to wrap up, but two quick things:
- Happy to give this a fine-grained copy edit when you're closer to done (and add a few more contextual links; for example, we're also working on a case study for OpenBazaar, and will want to cross-link that). Johnny, just @ me when you're both ready.
- Regarding the c

[2020-07-27 22:29] momack2 commented on #352
Looking good! I'd love to to see a little more about the improvements landed in 0.5 (https://blog.ipfs.io/2020-04-28-go-ipfs-0-5-0/) and ecosystem growth seen in Q1 & Q2 (https://www.youtube.com/watch?v=RxJSUBeqOKU & https://www.youtube.com/watch?v=yhbht93ln0w) added to the second to last paragraph to translate the "making it work" from a `TODO` to an `actively underway`. =]

[2020-07-29 17:42] gravenp commented on #352
@johnnymatthews, I took another pass that incorporates Why, Jessica, & Molly's feedback (https://github.com/gravenp/ipfs-docs-v2/commit/ec0015f19ee67ea124e63e9a27c3f1569ecbf32d). Let me know what you think!

And yes, I'd definitely appreciate some professional copy editing when the time is right @jessicaschilling :)

[2020-07-30 22:07] johnnymatthews commented on #352
Looks great from my end! Left a couple of minor comments in there, but I'm not too fussed if they don't get merged.

@jessicaschilling ready for your pass!

[2020-07-30 23:16] jessicaschilling commented on #352
@johnnymatthews @gravenp -- I left comments with copy edits 😊
Johnny, there's also a question in there about needing to generate some sort of evergreen link to the ecosystem diagram. Not sure what the best way to take care of that might be -- maybe we just stop versioning the ecosystem diagram by name, and just overwrite it in the website repo under an evergreen name so that ipfs.io/ecosystem-diag

[2020-07-31 12:15] johnnymatthews commented on #352
Haha, didn't realize you'd also posted here. Great minds. I'll make the PR now.

[2020-07-31 13:08] jessicaschilling commented on #352
Thanks - merged the website PR.

[2020-07-31 15:45] gravenp commented on #352
Thank you @johnnymatthews & @jessicaschilling! I have all your changes and suggestions queued up except for the all-important Philz Mint Mojito link. After that's squared away, I'll submit the final draft!

[2020-07-31 18:14] VandeurenGlenn opened #395 "ERR_CONNECTION_REFUSED"
While loading the site with chrome desktop works just fine (since recently)
These throw a ERR_CONNECTION_REFUSED
- Edge 84
- chrome android 84
- Firefox 79

[2020-07-31 19:14] jessicaschilling commented on #395
@lidel and/or @olizilla, might you be able to triage when you're available? Thank you!

[2020-07-31 20:20] jessicaschilling commented on #395
Hi @VandeurenGlenn -- a quick check of everyone on the core team running relevant browsers suggests we're not able to replicate this. Mind trying the usual restart/cache-clearing/etc? Or potentially could be a local network or router issue on your end?

[2020-07-31 20:35] johnnymatthews commented on #395
Chrome may have cached something, and the other two desktop browsers haven't had a chance to yet. @VandeurenGlenn can you try loading the site using your mobile data with Chrome Android 84 (using private browsing if possible, that'll eliminate any caching issues).

[2020-08-01 09:45] VandeurenGlenn commented on #395
@johnnymatthews Did that already, and tried again, but it works when on mobile data.
@jessicaschilling I'll restart the routers, when on cable it works, on wifi it doesn't.

[2020-08-01 13:14] VandeurenGlenn commented on #395
I was wrong, must have been lucky.

![image](https://user-images.githubusercontent.com/8685280/89102438-77ec7200-d409-11ea-9dfb-b61893a4bd0b.png)

[2020-08-01 15:04] jacobheun commented on #395
The connection works when you're wired but doesn't when you're using wifi? If this is the case you're likely having issues with your wireless router.

[2020-08-01 15:23] VandeurenGlenn commented on #395
I made a friend check, different ISP etc, they have the same problem, I'm currently the only one who can access with chrome desktop and mobile.

Strange thing is without 8888 chrome desk&mob don't work either
When I change to 8888 it works on chrome desktop & mobile, the rest don't load.

https://docs.ipfs.io opens like a charm on every browser

[2020-08-01 16:59] VandeurenGlenn commented on #395
It's ISP related I think, he just said he changed from ISP to the same I have and also tested on mobile data and that one works.
So I asked somebody else with another ISP and she can access the site.

[2020-08-03 18:46] #395 closed

[2020-08-03 18:47] jessicaschilling commented on #395
Issue moved to [ipfs/infra #504](https://github.com/ipfs/infra/issues/504) via [**ZenHub**](https://www.zenhub.com/)

[2020-08-03 18:48] jessicaschilling commented on #395
Moving this issue over to infra, as it's more germane there than in the website repo itself. Thanks @VandeurenGlenn for all the sleuthing!

[2020-08-07 15:29] gravenp commented on #352
I committed the changes discussed above here: https://github.com/gravenp/ipfs-docs-v2/commit/c78cbbbb450a597e3060f86911030576f57acf9c. Just went with a simple link to Philz menu for the Mint Mojitos. If a good contemporary picture of Juan or Why shows up, I think that'd be great to replace it. It looks like the linked OpenBazaar case study is still WIP, so I assume this doc should only be publishe

[2020-08-07 15:32] jessicaschilling commented on #352
Thanks @gravenp!

@johnnymatthews, the OpenBazaar case study is out for final review but I'm hoping to hear back from them today. Your call as to when you want to merge this history 😊

[2020-08-07 17:04] johnnymatthews commented on #352
Let's wait until the case study is live. Once it is, this is good to be merged!

[2020-08-07 17:38] jessicaschilling commented on #352
@johnnymatthews Actually, just pushed the case study live 😊  it's all yours to merge!

[2020-08-07 18:23] johnnymatthews commented on #352
Excellent! Where is this history going again @jessicaschilling? On the main `ipfs.io` website, or in `docs.ipfs.io`?

[2020-08-07 18:52] jessicaschilling commented on #352
@johnnymatthews There's already a "nothing here" placeholder here: https://docs.ipfs.io/project/history/ 😊
Drop it in there please!

[2020-08-09 11:44] johnnymatthews commented on #352
Nice! I manually merged this over instead of having you create a PR @gravenp. Your content is [in GitHub](https://github.com/ipfs/ipfs-docs/blob/master/docs/project/history.md), and it should be showing up in [docs.ipfs.io shortly](https://docs.ipfs.io/project/history/) :)

[2020-08-09 15:43] gravenp commented on #352
Thanks @johnnymatthews & @jessicaschilling! It was fun to learn and write about this!

[2020-08-17 19:41] jessicaschilling commented on #352
Closing this issue, since https://docs.ipfs.io/project/history/ is live.

[2020-08-17 19:41] #352 closed

[2020-08-17 19:45] swedneck opened #398 "FAQ: How is IPFS and protocol labs funded?"

[2020-08-17 19:48] jessicaschilling commented on #398
Thanks for submitting this suggestion, @swedneck. This might be a better fit for docs, but we'll keep discussing.

[2020-11-23 16:52] pranshuchittora opened #407 "dag.ipfs.io: Source map shipped @Prod"
Hi, I am not able to find the repo for the `dag.ipfs.io` so opening the issue here.

While tinkering with the DAG I found out that the source maps are being shipped @Prod.

![Screenshot from 2020-11-23 22-18-04](https://user-images.githubusercontent.com/32242596/99990873-607f2d80-2dda-11eb-9bb8-d1eeac546ea9.png)

Just CRA things :)

[2020-11-23 17:07] jessicaschilling commented on #407
Hi @pranshuchittora -- the DAG Builder lives in https://github.com/ipfs-shipyard/ipfs-dag-builder-vis ... but that's in another org, so can't do a straight transfer. Will just clone your original comment over there in a new issue.

[2020-11-23 17:07] #407 closed

[2020-11-23 17:17] jessicaschilling commented on #407
Re-opened as https://github.com/ipfs-shipyard/ipfs-dag-builder-vis/issues/22

[2020-11-23 17:20] pranshuchittora commented on #407
Hi @jessicaschilling thanks for the blazing fast response. Looks like you are using git on ipfs :)
Jokes apart I have raised the PR for the fix.

[2020-12-14 15:29] jessicaschilling opened #410 "Create interactive ecosystem directory"
Details in process - tldr: create an interactive version of the raster ecosystem directory currently located at https://ipfs.io/images/ipfs-applications-diagram.png and prominently featured on the IPFS website.

Please contact @jessicaschilling directly with any questions - thanks!

[2021-01-20 16:31] jessicaschilling opened #412 "[DISCUSSION] Site replatform alignment"
Details in progress, but tldr: replatform existing site to VuePress in order to:
- Match existing deploy processes for blog, docs, etc
- Facilitate ease of future improvements: interactive ecosystem diagram, content enhancement, etc

This is intended to be a "lift and shift" effort with minimal visual styling work.

Please contact @jessicaschilling with any questions in the meantime.

[2021-02-24 00:59] jessicaschilling commented on #410
## Update, 23 Feb 2021
- Feature prioritization workshop with @orvn and Diana Santaguida at Agency Undone (their additional notes to follow in this issue's comments)
- Generated [feature priority document] that will be used as source of truth for next stage of work
- Next steps:
     - Iteration on requirements-based wireframes, with sync session 5 March to discuss/refine
     - Build wireframes t

[2021-02-24 22:49] D3AS8A commented on #410
### Call: Requirements and [Prioritization](https://docs.google.com/document/d/1fAeEweKlBWLsY0E5Q2LlLa7JGqKVFlk5Z2mGJYjVlxU/edit)

Refined requirements to include the following:

	* Application Req: Ecosystem Index Page/ Discovery View
		* to include alternate list view, with logos
	* Application: Project Profile Page/ Detailed Information Page
		* to display and segment all associated tags/filter

[2021-02-25 18:45] jessicaschilling commented on #412
Two questions for @zebateira, @cwaring and @andyschwab to discuss before proceeding (Ze will lead the conversation):

1. Is VuePress still the right choice of platform, in terms of both functionality and consistency with our other top-level sites at PL?
2. Are we planning on deploying sites like the blog and main ipfs.io via Fleek going forward, rather than on our own cluster?

[2021-02-25 19:02] warpfork commented on #412
Okay, sorry to jump in here, I'm definitely not the one owning this piece of work so my opinions won't count for much -- but, I've been wondering very similar questions lately as I look at some other sites, and wondering where to ask them, so forgive me for taking the opportunity here.

Some random and opinionated observations:

- I had heard VuePress is the consistency choice around here;
- but t

[2021-02-25 19:41] jessicaschilling commented on #412
All good points, @warpfork ... please watch this space, but a few thoughts:
- If we operate under the assumption that our long-term maintainers for all Filecoin and IPFS sites (at minimum) will be the same folks, it makes sense to avoid context-switching between languages for those maintainers. Filecoin and IPFS _docs_ — which are going to be the most frequently touched of these sites as a whole —

[2021-02-25 23:50] jessicaschilling opened #414 "Add first Builder Series video to site"
Once the first video in the Builder Series is finished, add proposed "who's building" section to the front of ipfs.io.

[2021-02-26 00:19] jessicaschilling opened #415 ""About IPFS" video & interactive explainer"
## Objective
Create a 2- to 3-minute showcase summary video explaining what IPFS is, the essentials of how it works, and how it has the potential to revolutionize the web. Video topics must include:

- Acknowledgement of how IPFS continues the internet’s original decentralized paradigm
- Brief overview of the fundamental web problems IPFS answers (today’s web is inefficient/expensive, doesn’t arch

[2021-02-26 00:22] jessicaschilling opened #416 "“How IPFS Works” interactive explainer"
## Objective

Create an interactive explainer on how IPFS works within the context of a real-world use case (e.g. friends/family sharing vacation photos in an offline-friendly app on the plane trip home). Explainer must include the option to turn on/off “dev mode”, enabling the user to either go through the journey from a conceptual level or augment the concepts with more in-depth technical exampl

[2021-02-26 00:30] jessicaschilling opened #417 "Scaffolding text and UI elements as new material is added"
This repo contains a variety of issues specifying net-new material— these will need scaffolding text and UI elements added as they are implemented to the site.

This issue is a placeholder for that work for the sake of project planning; it'll be broken out into separate, more specific issues as work progresses.

[2021-02-27 16:44] bam80 commented on #303
Have similar issue, but it only affects my links:
https://github.com/ipfs-shipyard/ipfs-share-files/issues/124
I need to wait ~2 hours to get my links accessible. I don't know what is the reason, please help.

[2021-02-27 16:58] mortezaalizadeh66 commented on #303
I think time for uploading ipfs is depending to how many nodes are online at the same time and also how many requests are handling from users, sometime it needs 1 hour to be waiting in a queue  or sometime it finished in just 1 second. It is distributed systems problem.

[2021-02-27 19:04] bam80 commented on #303
In my understanding uploading is going just fine, because `*.preload.ipfs.io` POST requests return OK in a reasonable time.
Also https://share.ipfs.io/ creates ad-hoc IPFS node in browser which should be accessible instantly.
So it's public gateway which doesn't handle my created content in an acceptable time for some reason, even for minimal files.
I don't know how to debug it further, is it fire

[2021-02-28 01:04] bam80 commented on #303
I solved my problem by enabling UPnP on router and using IPFS Desktop which is capable to utilize that (the problem was when I had IPFS Companion only).

[2021-03-01 19:58] andyschwab commented on #412
Quick notes here:

* I would love to see Fleek continue to be used, both to free up bandwidth for the infra team and to support the ecosystem
* I think most of the legacy sites used Hugo, since Hugo (if I understand the history) was the first static site building tool that enabled pure relative-path builds and thus full IPFS compatibility. Having more build tools (VuePress, Vue, etc.) that can cre

[2021-03-05 23:44] orvn commented on #410
## Update, 5 Mar 2021

We had a touch point today where we honed details in the context of low fidelity designs.
Key areas we covered were:

- Information architecture and data structure, specifically as it pertains to URL and breadcrumb behavior
- Adjustments to the ecosystem browsing experience, particularly how filters work, and foreseeable edge cases around them
- Adjustments to the singular p

[2021-03-11 18:48] zebateira commented on #412
Regarding the first question **_Is VuePress still the right choice of platform, in terms of both functionality and consistency with our other top-level sites at PL?_**, here is my evaluation:

Since the objective is to reduce context switching and overall consistency within our work, choosing a framework that can handle all types of use cases (main website, docs, blog, etc) is key.

Because of thi

[2021-03-11 18:53] jessicaschilling commented on #412
Thank you, @zebateira -- this is extremely thoughtful, detailed analysis.
One other question: How easy is deployment of a Nuxt.js site over Fleek, since we've standardized on Fleek?

[2021-03-11 19:16] zebateira commented on #412
1. Should be as easy as VuePress. For two reasons: (1) there shouldn't be any blockers considering that Nuxt.js also supports static html generation just like VuePress and (2) the relative paths issues has been mitigated for any framework by using subdomains (correct me if I'm wrong here @andyschwab).
2. Defering to @andyschwab: do you foresee any issues that could arise from using different frame

[2021-03-11 20:12] johnnymatthews commented on #412
This is excellent, thanks for diving into this @zebateira!

This is something that concerns me about any framework we pick. _Eventually_, that framework will fall out of favour and/or maintainers will stop maintaining things. With that in mind: **should we create our own framework/static-site generator?**

Creating our own solution comes with a bunch of overheads and is highly-non-trivial, but als

[2021-03-11 20:23] jessicaschilling commented on #412
@johnnymatthews That's a good point, but I fear that would push this work so far out of scope for accessibility as a near-term win that we'd have to shelve it entirely in order to be in line with the team's larger priorities. (We also know that we don't have the bandwidth to assigning a team to maintaining a custom platform.)

If we feel that writing our own platform is a must, and worth postponin

[2021-03-11 20:31] terichadbourne commented on #412
Thanks @zebateira!

@johnnymatthews -  I'd venture to push back a bit on your assumptions re benefits of building our own framework:
1 - My impression is that Nuxt.js is already modular in a way that would already allow us to pick and choose pieces we need to some extent (@zebateira could you confirm?)
2 - Based on staffing and prioritization constraints that I've seen typically here, I think we n

[2021-03-11 20:38] terichadbourne commented on #412
@zebateira I don't want to position our work in a way that makes it only serviceable by a specific agency (should we continue to learn on agency support over internal development), but I'm curious to know whether Moxy -- and other agencies if you feel you have a broader sense of the market -- would be any better armed with boilerplates for one platform you've suggested versus the other.

[2021-03-12 11:20] zebateira commented on #412
**re building our own framework**

Even most agencies don't build their own framework because of the points all of you raised.

However, to answer your question

We do two things to try to mitigate that issue as much as possible: choose a framework wisely and build a boilerplate.

To choose a framework, we choose one that (A) is based on ambitious and clear goals that align with our own and (B) ha

[2021-03-12 12:06] zebateira commented on #412
Good question. At MOXY we have our own boilerplate [Next.js with MOXY](https://github.com/moxystudio/next-with-moxy). And I'm sure we could find good Nuxt.js boilerplates, but I believe PL would benefit greatly by building its own boilerplate instead since the goals of the boilerplate would not always sync with PL's goals.
I didn't propose this yet because I still don't understand what are all the

[2021-03-12 20:22] atopal commented on #412
Hmm... one of the assumptions we are making here is that the framwork needs to be vue, but considering that we want to use as much as possible off the shelf software, it might make sense to focus more on the ecosystem. Gatsby for example has a massive ecosystem and is based on react.

[2021-03-15 11:49] zebateira commented on #412
Ah yes, there is another reason why I felt that we should use Vue. I'm sorry I didn't make it clear here:

I wanted to add that the fact that Vue seems to be the preferred one at PL, is also something to consider.
But like I said, if using Vue is not a requirement, I would make the switch to React with Gatsby considering the huge support and performance we'd get from it.

I'll make this more clear

[2021-03-15 13:10] cwaring commented on #412
Thanks for picking up the evaluation, @zebateira. I agree this is the right way to approach this in 2021, Vuepress has proven to be a great choice given the original deliverable of our documentation platform with other constraints at the time - even though we stretched it to deliver https://protocol.ai/ and https://drand.love/ it is not a one-size fits all solution and as [noted](https://github.co

[2021-03-15 15:32] zebateira commented on #412
@cwaring thank you for the input 🙏

#### To refer the points you mentioned:

All good here 👍 all the options I proposed support this.

Most likely the Achilles tendon here, but it is something we were expecting to happen that we would need to help and fix - just as @andyschwab said, it will help the community as well to make more tech compatible with the IPFS gateway.

All good here as well 👍

All

[2021-03-15 18:53] jessicaschilling commented on #412
**Is it correct to state that at this point, alignment seems to be congealing around using nuxt for replatforming ipfs.io?**

- Still Vue, so consistent at least a language level with other IPFS sites - as well as a growing number of PL sites as a whole
- A more appropriate (?) choice than VuePress for a smaller "showcase" site like ipfs.io
- Aligns with the nuxt-based solution proposed by Agency

[2021-03-15 19:51] orvn commented on #410
## Stack discussion

@jessicaschilling I'd like to start an exploratory discussion here about an alternate stack—still based on Vue.

We've been talking about the potential upside of using [Vue/Nuxt](https://nuxtjs.org/) in place of [VuePress](https://vuepress.vuejs.org/) for this project.

***

### Platform Nuances

- **_Nuxt_** is to **_Vue_** as **_Next_** is to **_React_**:
  - It's the server

[2021-03-15 19:59] orvn commented on #412
I've written a comment here that compares Nuxt and VuePress (in the context of the IPFS interactive ecosystem) [here: `Issue 410`](https://github.com/ipfs/website/issues/410#issuecomment-799706967).

Quote of my comment for easy reference and discussion in this issue:

***

[2021-03-15 20:08] jessicaschilling commented on #410
[FEEDBACK REQUESTED] @zebateira @jdiogopeixoto @cwaring -- I mentioned @orvn's comment above in our ipfs.io replatforming discussion in https://github.com/ipfs/website/issues/412, but want to confirm that none of you have any issues with the directory being built on Nuxt as part of a larger IPFS/PL website ecosystem. **Can you please weigh in?**

@orvn -- please note that the same requirements of

[2021-03-15 20:10] cwaring commented on #412
Thanks @orvn, great points and completely agree. I was writing this as your reply dropped in...

It's still a matter of different tools for different jobs in my view, they all have their merits and should be selected based on the primary goals in mind.

In the world of vue:
1. Building an application -> nuxt, vite, vue-cli
2. Building a cms or content heavy site aggregating multiple sources -> gri

[2021-03-15 20:12] orvn commented on #410
@jessicaschilling it would actually the embeddable piece easier to implement. I mentioned this above, but I didn't use the word _teaser_ (see `embedded container (CTA/summary view)`) in [my previous comment](https://github.com/ipfs/website/issues/410#issuecomment-799706967).

[2021-03-15 20:19] cwaring commented on #410
The only reservation is regarding the IPFS requirement, if the end static application is required to run at both root domain (app.website.tld) and gateway access (gateway.ipfs.io/ipfs/cid) then this needs to be evaluated first.

[2021-03-15 20:21] orvn commented on #412
Also to add to what @cwaring and @zebateira mentioned. We've actually successfully used Nuxt on a couple of PL projects, both in static mode on IPFS, and as a full PWA with some feature rich functionality that required more than what could be accomplished on the frontend alone.

- [The Filecoin Network Status page `network.filecoin.io`](https://network.filecoin.io/) is a static Nuxt site deployed

[2021-03-15 20:27] orvn commented on #410
The legacy Slingshot site (which is on static Nuxt) does get served up by that path: [gateway.ipfs.io/ipfs/Qmf3...HortQf](https://gateway.ipfs.io/ipfs/Qmf3jUx5mjzHupZkwbGHYLFScjkpwv2Xpbn5dXfXHortQf/)

Except none of the relative paths for resources work because those are separate CIDs. Does this help shed light on anything @cwaring?

[2021-03-15 22:36] cwaring commented on #410
Actually you may not be aware of the background behind this. In the past if you were using the IPFS browser extension then you would get redirected to a gateway url whenever a `_dnslink` entry was detected. So it was important for sites to work at multiple path depths (with relative assets) in order to not break the functionality.

Thankfully we now have a root origin support in IPFS so we can acc

[2021-03-15 22:39] jessicaschilling commented on #410
@cwaring @orvn I'm afraid we do need to consider this a hard requirement.

[2021-03-15 23:19] orvn commented on #410
Understood @jessicaschilling, will look into viability and find out if this is a blocker. At the moment I'm optimistic (I suspect it's not a big hurdle).

Ah, you're totally right. I didn't know about the legacy behavior. Thanks for explaining.

We don't use Webpack for our builds (`gulp` does all the extra compilation we need), but nuxt itself does include it (as does VuePress, I think). We can d

[2021-03-16 09:27] cwaring commented on #410
Great! I'm also starting on a Nuxt app this week so I'll see how elegantly it can handle relative paths now. The less hacking we have to do the beater 🤞

[2021-03-16 11:47] zebateira commented on #410
Sounds good to me 👍
The issue with the relative paths is something that needs to be tackled but like @orvn said, it's doable.

[2021-03-16 16:34] jessicaschilling commented on #412
Per sync meeting 16 March: **Reassigning this issue to @atopal @cwaring @zebateira in order for them to make an executive decision on how we are to proceed. @atopal would prefer the org as a whole align on React. Acknowledging that work is blocked until a decision is made.**

@atopal has acknowledged and approved that @orvn is researching possibility of root/subdomain support for nuxt, and that in

[2021-03-16 23:04] orvn commented on #410
## Update, 16 Mar 2021

Today we started by briefly talking about the technical stack. We then reviewed prototype feedback, how it fits into the lo-fi design, and what alterations may be necessary.
Key areas we covered were:

- Nuxt vs VuePress and IPFS gateway paths
- Abstraction of app theme SCSS for other projects
  - Which is feasible, but will require some additional polish for the new instan

[2021-03-16 23:07] warpfork commented on #412
I apologize slinking away for a while as fireworks fly...

I love the roundups of considerations, especially [cwaring's post here](https://github.com/ipfs/website/issues/412#issuecomment-799407070).

Big ups for things already looking widely agreed on:

- static output :100: :100: :100:
- markdown and frontmatter as input: yes yes
- build should be fast and unobtrusive: yes heckity yes
- super gla

[2021-03-19 19:09] swedneck opened #419 "Change matrix link(s) from riot.im to element.io"
It should be https://app.element.io instead of https://riot.im/app

[2021-03-20 02:10] #419 closed

[2021-03-24 19:48] jessicaschilling opened #422 "Implement Countly on existing ipfs.io"
As we prepare to replatform ipfs.io and migrate to Countly, we'll need to get a few weeks' baseline metrics on the existing site that account for the degree to which many of our users will be blocking Google Analytics. (In other words, we want to make sure we have accurate comparison numbers for when we cut over to the replatformed site.)

@zebateira and/or @jdiogopeixoto — can you please work thi

[2021-03-26 16:51] atopal commented on #412
We've just had a chat where we decided to move forward with nuxt on an experimental basis. We'll use that experiment to determine the possibility of subdomain support for nuxt.

[2021-03-26 16:54] cwaring commented on #412
Thanks everyone for the great contributions! @zebateira excited to see what you come up with 🥳

[2021-03-26 17:03] jessicaschilling commented on #412
Thanks all for keeping pushing forward on this 😊
@zebateira, @orvn at Agency Undone is currently working on a PoC for subdomain support for the ecosystem directory. May I ask you both to touch base so you're not duplicating work?

[2021-03-26 17:10] zebateira commented on #412
@jessicaschilling sounds good 👍

[2021-03-26 17:18] #412 closed

[2021-03-27 12:15] cwaring commented on #412
@zebateira also I forgot to mention [the nuxt content module](https://content.nuxtjs.org/) which may be worth trying out as our markdown/content pipeline, it looks super powerful and could save a lot of custom dev time.

[2021-04-01 02:56] orvn commented on #410
## Update, 30 Mar 2021

In a touch point yesterday we reviewed mid-fidelity designs, with the IPFS brand standards applied, as well as an enhanced mid-fi version of the embedded view. We also spoke about nuxt compatibility with IPFS Gateway routes, which now works (a nuxt [module is available here]()).

Key areas we covered were:

- A new type of chart, displayed as horizontal segments instead of

[2021-04-01 03:31] orvn commented on #412
### Nuxt IPFS Module Update

Some additional information to close the loop here:

- **We created a Nuxt IPFS module** [available here](https://github.com/agency-undone/nuxt-module-ipfs)
  - It extends Nuxt (while running in `target: 'static'` mode) to support IPFS gateway paths, in addition to the primary path it was originally compiled for
  - All resources load relative to the base (preserving `

[2021-04-06 16:57] jessicaschilling commented on #416
Update: Per dev onboarding meeting 6 April, will re-frame this using the to-be-canonical example of NFT storage, and create a proposal for implementation in Q2.

[2021-04-12 16:42] jessicaschilling commented on #422
@zebateira Thanks for setting this up 😊  Please feel free to close once you add relevant admins!

[2021-04-12 16:53] #422 closed

[2021-04-15 02:30] orvn commented on #410
## Update, 13 Apr 2021

We had a new touchpoint yesterday where we reviewed high fidelity designs and new specifications.

Key areas:

- Clarity around standalone treemap/logo-map requirement
  - (not directly shown in the ecosystem directory or embedded view)

- Review of high-fidelity designs and confirmed details before dev handoff
- Review of alternate visual treatment intended to test styling

[2021-05-15 03:18] orvn commented on #410
## Updates, 23 Apr — 14 May 2021

We had several touchpoints over the last 3 weeks, including one today. During this time, we kicked off development and hit milestones.

#### In early touchpoints, we covered:

- Branching strategy, protections and commit conventions
- Header and footer will eventually be pulled in as a package
  - Static header/footer implementation in the meantime
  - This implem